[2018-12-17 02:52] cofyc opened #1 "Migrate external-storage/local-volume"
from: https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

- [x] import commits (local-volume only) from external-storage repo (`git filter-branch --prune-empty --subdirectory-filter local-volume`)
- [x] rebase on new master
- [x] update README.md
- [x] update go import path
- [x] vendor dependencies by `dep`
- [x] write new Makefile and hack scripts
- [x] write new .

[2018-12-17 05:32] cofyc opened #3 "Add more verify scripts"
- [x] fmt
- [x] lint
  - verify-gometalinter.sh in repo-infra  is too strict, I think golint is enough
- [x] vet
- [x] boilerplate
- [x] vendor files

Reuse https://github.com/kubernetes/repo-infra when possible.

[2018-12-17 05:46] cofyc opened #4 "Add e2e tests and configure e2e job"
Original issue: https://github.com/kubernetes-incubator/external-storage/issues/950

- [x] Add e2e framework
- [ ] Copy current e2e tests from k/k, refer https://github.com/kubernetes-incubator/external-storage/pull/1058

/assign

[2018-12-17 06:05] cofyc opened #5 "e2e test against multiple nodes cluster"
Think after [single-node cluster e2e test](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/4) is done.

Travis job has following resource limitations:

- Cores: 2
- Memory: 7.5G
- Disk: < 18G
- Stdout Log Limit: 4MB
- Timeout: 2 Hours

[2018-12-18 00:16] #1 closed

[2018-12-19 00:35] msau42 commented on #5
We may want to consider using prow instead of travis for kubernetes e2e tests.  The advantage is that it's easier to bring up multi-node clusters because it integrates well with the GCE platform.   You can see how we configure prow for PD CSI driver [here](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver).  There is some [prow

[2018-12-19 00:37] msau42 opened #6 "Delete local PV If directory not found"
Migrating issue from: https://github.com/kubernetes-incubator/external-storage/issues/1052

/help

[2018-12-19 00:41] msau42 opened #7 "Consolidate local provisioner spec examples with helm examples"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/958
/assign

[2018-12-19 00:47] msau42 commented on #6
/kind bug

[2018-12-19 00:47] msau42 commented on #7
/kind cleanup

[2018-12-19 00:49] msau42 opened #8 "Remove FakeAPIUtil"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/786
/kind cleanup

[2018-12-19 00:49] msau42 commented on #8
/help

[2018-12-19 01:04] msau42 opened #9 "Automate the release process"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/701

Right now everything is manual: creating/pushing containers, updating docs/examples, etc.

At least creating/pushing containers + e2es can be automated with CI.

[2018-12-19 01:05] msau42 commented on #9
/kind cleanup

[2018-12-19 01:08] msau42 opened #10 "New controller to handle node deletion"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/817

/kind feature

[2018-12-19 01:10] msau42 commented on #10
To summarize, I think we can potentially split this up into these main areas:

* A common way to report PV health
* Daemonset controller that monitors local disks per node
* Cluster controller that monitors nodes that get deleted
* Workload controller that reacts to PV health

[2018-12-19 01:14] msau42 opened #11 "Local volume checkpointing"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/739
/kind feature

[2018-12-19 01:16] msau42 opened #12 "Support updating configmap"
Migrating from https://github.com/kubernetes-incubator/external-storage/issues/1011
/kind feature

[2018-12-19 02:36] cofyc commented on #5
Yeah, I'm going to use prow.

[2018-12-19 04:18] cofyc opened #14 "Deprecate kubernetes-incubator/external-storage/local-volume"
/assign

[2018-12-19 04:29] cofyc opened #15 "Add misspell verify script to avoid commonly misspelled words"
https://github.com/client9/misspell

[2018-12-19 05:13] cofyc opened #17 "Configure prow jobs"
Current:

- pull-sig-storage-local-static-provisioner
  - build all binaries and containers
- pull-sig-storage-local-static-provisioner-verify
  - run all verify scripts
- pull-sig-storage-local-static-provisioner-unit
  - run unit tests

TODO:

- pull-sig-storage-local-static-provisioner-e2e
  - run e2e tests

/assign

[2018-12-19 17:57] #14 closed

[2018-12-22 01:00] #3 closed

[2018-12-24 10:21] cofyc opened #19 "Move to sigs.k8s.io"

[2018-12-28 03:06] #15 closed

[2019-01-03 19:01] #5 closed

[2019-01-04 01:43] msau42 opened #23 "Cut 2.3.0"
- [x] build, tag and test container image
- [x] Update changelog
- [x] Update helm
- [x] git tag

/assign

[2019-01-04 01:49] msau42 commented on #23
Looks like I need https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/19 first cc @cofyc

[2019-01-04 02:45] cofyc opened #27 "Document how to run e2e tests in development"
xref: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/21#issuecomment-451242661

[2019-01-04 02:45] cofyc commented on #27
/assign

[2019-01-04 02:47] cofyc opened #28 "Migrate all e2e tests from k/k repo"
- [x] copy all local volume provisioner e2e tests from k/k repo (#31)
- [x] clean up local provisioner e2e tests in k/k repo (https://github.com/kubernetes/kubernetes/pull/72617)

/assign

e2e tests from k/k repo:

- [x] Local volume provisioner [Serial] should create and recreate local persistent volume
- [x] Local volume provisioner [Serial] should not create local persistent volume for filesyst

[2019-01-04 02:52] cofyc commented on #28
@msau42 After all e2e tests are migrated here, should we configure some periodical jobs for different kubernetes versions and different providers (e.g. gke) and testgrid?
xref: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/3307781d7c33f8a69333710f7500d8158e7112a8/README.md#view-ci-results

[2019-01-04 20:02] msau42 commented on #28
Yup once we have the jobs running, then we can remove the k/k ones

[2019-01-06 14:45] cofyc commented on #4
e2e framework is done in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/21

[2019-01-06 14:45] #4 closed

[2019-01-07 07:45] cofyc commented on #9
For creating/pushing containers automatically, we can use postsubmit prow jobs but I don't know how to configure secret credentials in it.
Alternatively, we can configure travis to build on branches/tags and store quay.io docker credentials on travis site.

[2019-01-07 23:05] yanniszark commented on #10
Link to the effort of @NickrenREN so far for a local storage monitor:
* [Issue](https://github.com/kubernetes-incubator/external-storage/issues/630)
* [PR](https://github.com/kubernetes-incubator/external-storage/pull/528)

I agree with the first three but I am unsure about the last one.
Some thoughts:
### A common way to report PV health.

  * **How to expose:** annotations can be used on the PV

[2019-01-07 23:35] msau42 commented on #10
cc @gnufied
Detecting disks properly is something that the local storage operator may be addressing

[2019-01-08 01:56] cofyc commented on #9
https://github.com/kubernetes/test-infra/blob/8845d43219c40c1d9c0f98d24a4454fd34ecaa9c/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L60-L66

The problem is how to configure pusher credentials. I guess this secret is configured manually in prow cluster, because test-infra repo is public.

[2019-01-08 02:20] BenTheElder commented on #9
correct, contact go.k8s.io/oncall about setting up credentials

On Mon, Jan 7, 2019 at 5:56 PM Yecheng Fu <notifications@github.com> wrote:

[2019-01-08 03:01] cofyc commented on #9
@BenTheElder Thanks!

[2019-01-08 03:17] #27 closed

[2019-01-09 10:21] cofyc commented on #9
@BenTheElder hi, I have a few more questions.

Found there is only a few trusted clusters (test-infra-trusted, security) now. According to [this comment](https://github.com/kubernetes/test-infra/blob/49d1dc9a852745ec28f7d84f4edc70610c395077/config/tests/jobs/jobs_test.go#L317), I guess the best place to put trusted jobs for `sig-storage-local-static-provisioner` is `config/jobs/kubernetes-sigs/sig

[2019-01-09 19:04] BenTheElder commented on #9
we probably need a new trusted cluster, I'll leave the decision to @fejta
who setup test-infra-trusted, but definitely not the "security" cluster :-)

On Wed, Jan 9, 2019 at 2:21 AM Yecheng Fu <notifications@github.com> wrote:

[2019-01-10 13:49] arthurvanduynhoven opened #35 "Publish Helm Chart to a Repo"
Feature Request:

It would be nice be able to use the helm chart from the official incubator/stable repository of helm - https://github.com/helm/charts.

Being able to run `helm install local-static-provisioner -f myconfig.yaml` is more convenient than checking out the code and running numerous helm/kubectl commands to install the local static provisioner.

[2019-01-10 23:52] msau42 commented on #23
Pushed canary and ran e2es against it:
[code]

[2019-01-11 01:15] msau42 commented on #23
/close

[2019-01-11 01:15] #23 closed

[2019-01-11 19:07] fejta commented on #9
This job is not trusted by test-infra, so we should not put it there.

Do not see why this needs its own cluster. This needs:
* A known-location to push the images
* Credentials that have the right to push images to this location

We can put these credentials into a new secret in the cluster, and then enforce via our presubmits that only jobs in `config/jobs/kubernetes-sigs/sig-storage-local-stati

[2019-01-11 19:11] fejta commented on #9
Your own cluster will also work but IMO most likely overkill.

[2019-01-11 23:46] msau42 commented on #9
This plan sounds good to me.  Who can we work with to get this setup?

[2019-01-12 06:59] cofyc commented on #9
fejta told me how to do on stack. IIUC, there are two steps to get this setup:

- concat http://go.k8s.io/oncall to save credentials in default cluster
- add a unit test to enforce that only jobs (presubmit & periodic) in `kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner-trusted.yaml` can mount secret our secret

[2019-01-12 08:06] #8 closed

[2019-01-14 08:27] aaahrens opened #40 "StorageClass Reclaim policy does not change"
To replicate:

look at storage class reclaim policy.

[2019-01-14 08:47] aaahrens opened #41 "Incorrect Rendering of the Prometheus label"
Bug is even in the autogen example:

https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/generated_examples/baremetal-prometheus.yaml#L122

Its just indented 4 spaces too many.

[2019-01-14 18:11] #28 closed

[2019-01-15 02:44] cofyc commented on #40
/kind bug

[2019-01-15 03:30] cofyc commented on #40
Thanks for reporting this! It will be fixed in #42.

[2019-01-15 03:41] cofyc commented on #41
Thanks for reporting this!

[2019-01-15 03:41] cofyc commented on #41
/kind bug

[2019-01-15 03:57] #40 closed

[2019-01-15 08:00] cofyc opened #44 "Run specs in parallel"
Why: speed up e2e tests
How: https://onsi.github.io/ginkgo/#parallel-specs

[2019-01-15 09:55] cofyc commented on #44
/assign

[2019-01-15 15:48] #41 closed

[2019-01-17 03:33] cofyc commented on #44
/close
Not necessary for now, because current specs run serially.

[2019-01-17 03:33] #44 closed

[2019-01-17 09:13] cofyc commented on #35
/help

[2019-01-18 04:34] cofyc opened #47 "Dump e2e logs"
- k8s components logs
  - kube-apiserver/kube-controller-manager/kube-scheduler
  - kubelet
- node logs
- provisioner logs

Without logs, it's hard to debug [failures](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-sig-storage-local-static-provisioner-master-gce-latest/44).

[2019-01-22 03:50] cofyc opened #50 "A deployment issue when docker --init flag is enabled"
We mount /dev into pod for device discovery, it has conflicts when docker --init flag is enabled because docker will mount `init` at `/dev/init`.

I reported this issue to moby project (https://github.com/moby/moby/issues/37645) and it is fixed in https://github.com/moby/moby/pull/37665. But it takes some time for this to be fixed in docker CE/EE.

Workarounds:

- do not use docker `--init`
- do n

[2019-01-30 01:43] petermetz opened #51 "Dynamic Provisioning Implementation"
Is this repo the right place to submit a PR with dynamic local volume provisioning?
I read in the documentation that dynamic provisioning is on the roadmap, but wanted to double check because the name of the repo has "static" in it which doesn't look like a good omen.

[2019-01-31 07:41] predakanga opened #52 "PersistentVolume naming"
To simplify administration, it would be helpful to have a friendly name embedded in the generated PV's name.

This could be accomplished by adding the mount point/device name before the checksum.

For example, the following PV:
[code]

would become `local-pv-gitlab-27f18fc5`

This shouldn't cause any problems, as the name is already used to generate the checksum - any changes in filename would alr

[2019-03-05 13:58] Lavaburn opened #55 "Cleanup Job fails"
The cleanup job of block devices returns error "/mnt/kubernetes/vol_10g_b is not a block device.", and PV remains stuck in "Released" state.

Error is triggered by validateBlockDevice function in the cleanup pod (local-volume-provisioner:v2.3.0).
This pod is correctly mounting /mnt/kubernetes (mountPath), but not mounting /dev, hence the symlinks are invalid.

Creating and using the local volumes

[2019-03-11 21:30] msau42 commented on #55
@cofyc can you help investigate the error? I think it probably just requires a helm chart update for the cleanup job.

[2019-03-11 21:31] msau42 opened #56 "Update docs for K8s 1.14 GA"
/assign

[2019-03-11 21:32] msau42 opened #57 "Prepare a new release"
Decide if 2.3.1 or 2.4.0.  Taking a quick glance at the commits, it was mostly release tooling and helm chart fixes that went in.  cc @cofyc if there was something major I missed.

/assign

[2019-03-12 01:41] cofyc commented on #55
/assign

[2019-03-12 01:44] cofyc commented on #57
no major changes since 2.3.0

[2019-03-12 17:20] scphantm opened #58 "Could not get node information"
I am struggling to get this running.  Im following these instructions

https://docs.openshift.com/container-platform/3.11/install_config/configuring_local.html

I got everything done, but when the pod attempts to start, i get this error.

`F0312 02:19:33.183835       1 main.go:115] Could not get node information: nodes "okdtest.panasas.com" is forbidden: User "system:serviceaccount:default:panfs-s

[2019-03-12 17:44] msau42 commented on #58
/assign @gnufied
for openshift configuration

[2019-03-12 18:00] gnufied commented on #58
Did you install provisioner using openshift provided template?  https://raw.githubusercontent.com/openshift/origin/release-3.11/examples/storage-examples/local-examples/local-storage-provisioner-template.yaml

If you did - it creates a `ClusterRoleBinding` that binds service account being used with local storage provisioner to `system:node` `ClusterRole`. That role binding should be enough to give

[2019-03-12 18:51] scphantm commented on #58
yes.  for my company, we have to replace `local` with `panfs`, but here's my template

[code]

and my new-app command

[code]

[2019-03-12 19:07] gnufied commented on #58
Did you run `oc new-app` command from `default` project/namespace or from `panfs-storage` namespace? Make sure all the commands are executed in `panfs-storage` namespace/project.

[2019-03-13 05:32] cofyc opened #59 "Use general host executor"
Why: simpler
How: https://github.com/kubernetes/kubernetes/pull/74391

[2019-03-13 14:48] scphantm commented on #58
my new-app command has

`-p NAMESPACE=panfs-storage \`

do i need to do anything additional?

[2019-03-13 14:50] gnufied commented on #58
You need to ensure that when you run the command you are in `panfs-storage` namespace. `oc project panfs-project` should do the trick. The error you posted above:

[code]

Sounds like - daemonset is running in `default` namespace and not the namespace you specified.

[2019-03-15 23:40] aaahrens opened #62 "Should add conditional of priorityClassName"
so priorityClassname can only be run in the kube-system namespace. if they specify any other namespace it fails. The template should check for a conditional, or straight up remove it (which I think would be best, considering its on the chopping block for .14 and beyond).

the offending line is here
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/provisioner

[2019-03-16 00:07] msau42 commented on #62
Good catch. @cofyc can you take a look?

[2019-03-16 01:31] cofyc commented on #62
Thanks for reporting this!

Since 1.12, [daemonset controller schedules pod by default scheduler](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#scheduled-by-default-scheduler-enabled-by-default-since-1-12), it makes sense to specify priorityClass on daemonset pods. I'm going to keep but specify it in kube-system namespace only.

[2019-03-16 02:28] cofyc opened #64 "Add tests for helm examples"
Why: #62, https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/93

Test cases:

- [ ] pod security policy when PodSecurityPolicy admission control is in effect

[2019-03-18 21:26] schallert opened #65 "Consider support for RAID in local provisioner"
For context, this issue stems from a [Slack conversation](https://kubernetes.slack.com/archives/C09R1TL6A/p1552922034142200) with @msau42 that we wanted to capture here.

It would be awesome if the local static provisioner could support RAID'ing devices together.

Currently, if a user wants to RAID local disks together they must do so manually before presenting the provisioner with a filesystem or

[2019-03-19 18:25] msau42 commented on #65
cc @gnufied who has also been working on an operator

In the past, we've wanted to keep a clear separation between environment-specific prep and the general PV lifecycle management, but I can see value in providing some optional helpers if it's beneficial to many users (and I have seen many requests for supporting raid setup).  I would still like to keep it separate from the actual provisioner pro

[2019-03-21 16:17] #62 closed

[2019-03-25 08:15] cofyc opened #66 "e2e tests fail on GKE because account lacks permission"
Testgrid: https://testgrid.k8s.io/sig-storage-local-static-provisioner#master-gke-default
Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-sig-storage-local-static-provisioner-master-gke-default/415
Reason: Cannot create `local-storage-provisioner-jobs-role` role object at [here](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/13de5ffc7b01b52cc98e823c53

[2019-03-25 08:39] cofyc commented on #66
Possible solution: https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#prerequisites_for_using_role-based_access_control
/assign

[2019-03-25 08:41] cofyc commented on #55
hi, this has been fixed by https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/60, you can try latest master.

[2019-03-25 08:41] cofyc commented on #55
/close

[2019-03-25 08:41] #55 closed

[2019-03-25 08:42] cofyc commented on #9
/close
Closed by via https://github.com/kubernetes/test-infra/pull/10802.

[2019-03-25 08:42] #9 closed

[2019-03-26 02:33] #66 closed

[2019-03-27 22:38] derekperkins opened #68 "Path "/mnt/disks/by-uuid" is not an actual mountpoint"
I just ran this on a new GKE cluster (1.12.5-gke.5 without RBAC) and while it appears that the PVs are all created correctly, each pod logs out an error every 10 seconds saying that `Path "/mnt/disks/by-uuid" is not an actual mountpoint`. Is that something I need to be worried about causing data integrity problems?

It feels like it's probably iterating the `by-uuid` directory to get the disks, bu

[2019-03-27 23:49] msau42 commented on #68
Sorry for the confusion, if you're using the GKE with the nvme whitelisted option, you should use this deployment file for the provisioner:
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/generated_examples/gce.yaml

This deployment uses the /mnt/disks/by-uuid paths instead of /mnt/disks.

The main difference is that the mount points under /mnt/disks are no

[2019-03-28 00:11] derekperkins commented on #68
I didn't enable nvme on this node pool or cluster. Should I still use a different `hostDir`?

[2019-03-28 00:14] msau42 commented on #68
If you want the disks to be uniquely named so that your Pods don't automatically get mounted with blank disks on a node repair/upgrade, then you should use: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/generated_examples/gce.yaml

Otherwise, the existing deployment is sufficient.

Some more background on the issue: https://github.com/kubernetes-incubator

[2019-03-28 00:20] derekperkins commented on #68
Ok, sounds good. I'll go ahead and use that config you're referencing. Thanks!

[2019-03-28 00:56] derekperkins commented on #68
I deleted all my PVs and deployed that configuration, but it isn't detecting any of the local disks or creating new PVs. It is definitely running on nodes with local ssds.

[2019-03-28 01:06] derekperkins commented on #68
The only changes I made to the file were to use a different namespace and add these:

[code]

[2019-03-28 01:35] msau42 commented on #68
How did you create the GKE cluster?  did you use the "--local-ssd-count" or the "--local-ssd-volumes" option?

[2019-03-28 01:53] derekperkins commented on #68
[code]

[2019-03-28 02:00] msau42 commented on #68
Ah ok, currently the "--local-ssd-count" only supports non-unique naming.

We have the "--local-ssd-volumes" option currently available under alpha, that will support unique naming.

[2019-03-28 02:04] derekperkins commented on #68
I tried making a node pool with that but got an error:

`ERROR: (gcloud.alpha.container.node-pools.create) ResponseError: code=404, message=Method not found.`

[code]

[2019-03-28 03:24] #68 closed

[2019-04-03 01:18] lyyao09 commented on #51
Does anyone know how dynamic provisioning  is progressing, and whether there is a release plan?

[2019-04-03 01:42] msau42 commented on #51
It is unfortunately not progressing. We are looking for someone that can own and architect a solution.

[2019-04-08 14:41] weargoggles opened #72 "Support for PodSecurityPolicies"
In order to install the provisioner in clusters which have PodSecurityPolicy in effect, a policy fulfilling the configured security contexts is required

[2019-04-10 14:36] #72 closed

[2019-04-17 09:04] cofyc opened #74 "Switch to standard go project layout"
Why:

- simpler
- newbie friendly

e.g.

- /provisioner/cmd -> /cmd/local-volume-provisioner
- /utils/ -> cmd/utils/
- merge /provisioner/Makefile with /Makefile
- put some docs under docs/ (new) directory
  - /provisioner/README.md -> /docs/Provisioner.md
  - /provisioner/RELEASE.md  -> /docs/RELEASE.md
  - /provisioner/TODO.md -> /TODO.md
- /provisioner/deployment -> /deployment
- /provisioner/p

[2019-04-17 09:43] cofyc commented on #52
I agree current naming is not friendly for managing PVs. However, PV name is currently used as a unique identifier for the path on the node. And the more flexible way to help PV administration is to add labels, e.g.

[code]

Additionally, provisioner configuration can support extra labels for discovered PVs for each storage class, e.g.

[code]

Then, you can run `kubectl get pv -l app=gitlab` to l

[2019-04-17 10:55] cofyc commented on #12
I was asked several times by users why they applied new yaml files but provisioner cannot discover for new storage classes.
If no one is looking at it, I'll take it.
/assign

[2019-04-17 11:54] cofyc opened #75 "Able to migrate volumes to another storage class and safer mechanism to prevent paths to be discovered again"
### Motivation

Able to migrate PVs (actually underlying volumes) to another storage class and do not be afraid volumes can possibly be discovered more than once.

### Problem

Current PV name (generated from path + class + node) is used as a unique identifier for the path on the node. It has some drawbacks, e.g. cannot change PV naming convention anymore, and users cannot change the storage class

[2019-04-17 11:54] cofyc commented on #75
cc @msau42 What do you think?

[2019-04-17 12:31] cofyc commented on #6
Thinking more about this (previous [thoughts](https://github.com/kubernetes-incubator/external-storage/issues/1052#issuecomment-436864718)). It's hard to see delete local PV if directory not found is a good idea.

Possible scenarios when the volume is not found on deletion:

- node gets recreated with the same name: https://github.com/kubernetes-incubator/external-storage/issues/1052#issue-3785323

[2019-04-17 12:31] cofyc commented on #6
/assign

[2019-04-17 13:13] cofyc opened #76 "Operation/troubleshooting documentation"
In addition to getting start documentation, we need to some operation docs to guide users to operate in the production cluster.

- [x] Deleting/removing the underlying volume: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner#deletingremoving-the-underlying-volume
  - https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner#managing-your-local-volumes
- [x] dep

[2019-04-17 15:23] msau42 commented on #74
Sounds good to me! Originally we had one more layer because we had multiple different programs, but now I don't think it's necessary

[2019-04-17 15:36] cofyc commented on #74
/assign

[2019-04-17 16:50] cofyc opened #77 "GKE tutorial in cloud shell"
Purpose: help user to configure local volume static provisioner to discover local SSDs in an interactive way
How:  https://cloud.google.com/shell/docs/tutorial
Related docs: https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd

[2019-04-17 16:50] cofyc commented on #77
/help

[2019-04-17 18:42] cofyc opened #78 "sidecar to automate tasks"
suggested by @msau42

- raid support (https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/65)
- configure LVM and pre-create block/fs volumes (suggested by @gregwebs)

GKE-specific:

- delete local PV object is the volume is permanently deleted (https://github.com/pingcap/tidb-operator/issues/408#issuecomment-485351029)

[2019-04-18 16:34] #74 closed

[2019-04-19 03:22] cofyc commented on #76
/kind documentation

[2019-04-19 03:22] cofyc commented on #77
/kind documentation

[2019-04-19 08:16] cofyc opened #81 "Scripts to help user manage their local volumes on bare-metal machines"

[2019-04-20 13:40] cofyc commented on #50
I've added this into faq docs, close it.
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/faqs.md#failed-to-start-when-docker---init-flag-is-enabled

[2019-04-20 13:40] #50 closed

[2019-04-23 02:56] #76 closed

[2019-04-23 16:10] cofyc opened #85 "Enable useNodeNameOnly by default in next major release"
In most cases, node name as provisioner name is better.

xref:

- https://github.com/kubernetes-incubator/external-storage/issues/945
- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/faqs.md#pv-with-delete-reclaimpolicy-is-released-but-not-going-to-be-reclaimed

[2019-04-24 00:37] msau42 commented on #57
@cofyc can you help prepare a new release? Mainly updating CHANGELOG.md and README.md.  If no major changes added and mostly bug fixes, then we can do a 2.3.1

[2019-04-24 01:55] cofyc commented on #57
/assign

[2019-04-24 03:56] #57 closed

[2019-04-24 05:44] cofyc opened #87 "Fix release process"
`hack/run-e2e.sh` will update docker configuration via `gcloud auth configure-docker`, but `DOCKER_CONFIG` in release job is for quay.io and read-only mounted.

[2019-04-25 01:00] msau42 commented on #52
I like the labels idea. We also originally went with the hashing approach because we didn't want to potentially leak sensitive information into the PV name which may be readable globally

[2019-04-25 02:33] cofyc commented on #87
/close
Closed via https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/88.

[2019-04-25 02:33] #87 closed

[2019-04-25 08:12] cofyc commented on #52
/assign

[2019-04-28 03:01] cofyc commented on #11
/remove-lifecycle stale

[2019-04-28 03:01] cofyc commented on #7
/remove-lifecycle stale

[2019-04-28 04:08] cofyc commented on #10
/remove-lifecycle stale

[2019-04-29 06:37] NickrenREN commented on #10
Thanks for your comment @yanniszark
I agree on most of your opinions. And I am updating the PV monitor design doc, here is the link: https://docs.google.com/document/d/1WG51DZZeXyP50EKyhECYg5m5KEB4F0AhYBhA555_Gs4/edit.

We only focus on monitoring mechanism, reaction is not in the scope of that doc.
Comments are welcome, thanks

[2019-04-30 04:21] msau42 commented on #56
Done by https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/71
/close

[2019-04-30 04:21] #56 closed

[2019-04-30 09:39] KevinTHU commented on #52
now the node information of pv can only be shown in the **annotation** or **Node Affinity**, I don't think it is a friendly way (at least the info could be searched, like label, or the best directly on pv name), hope for consideration.

[2019-05-01 09:02] Bessonov commented on #35
/remove-lifecycle stale

[2019-05-05 10:16] cofyc opened #94 "Print version at startup"
also, it can print version with `-v` flag is provided.

It helps to detect the version of the running program.

[2019-05-05 12:20] miguelaeh opened #95 "local-volume-provisioner for arm"
Hi,
I need to configure the local-storage-provisioner for an arm cluster, but the `quay.io/external_storage/local-volume-provisioner` image does not work on arm devices.
Is it possible to do that? And, if it is, how? Can I get the Dockerfile to change the base image or exists any image for that? Thanks.

[2019-05-05 15:36] cofyc commented on #95
Yes, it is possible to do.
We need to build local-volume-provisioner for arm and build an image for it.

[2019-05-05 15:51] miguelaeh commented on #95
Hi @cofyc,
thanks for your response. I tried with `local-volume-provisioner-arm64` but it seems that this image do not exists because I get the following error:
`access to the requested resource is not authorized`

[2019-05-05 15:53] cofyc commented on #95
sorry, it's not finished yet, can you wait a few days?

[2019-05-05 16:51] miguelaeh commented on #95
Of course,
sorry I understood that it was already finished.

[2019-05-08 03:14] #59 closed

[2019-05-08 04:19] cofyc commented on #52
For now, if you want to search PVs by node name, you can configure `kubernetes.io/hostname` in `nodeLabelsForPV`, local-volume-provisioner will copy node labels to PVs it provisioned.

For example:

[code]

Update config map and restart local-volume-provisioner:

[code]

Check new PVs it provisioned: (local-volume-provisioner does not sync labels between node and PVs. It only applies to new PVs fo

[2019-05-08 05:47] cofyc commented on #78
/help

[2019-05-11 16:07] billy1999 opened #98 "kubectl get pv ,No resources found. [help]"
I follow the steps，
`mkdir `
`kubectl create -f deployment/kubernetes/example/default_example_storageclass.yaml`
`helm template ./helm/provisioner > deployment/kubernetes/provisioner_generated.yaml`
` kubectl create -f deployment/kubernetes/provisioner_generated.yaml`
`kubectl get pv`
but  here show
No resources found.

[2019-05-11 17:19] #98 closed

[2019-05-13 10:39] cofyc commented on #95
@miguelaeh
hi, I've pushed images to my personal repository for testing. Could you try `gcr.io/yechengfu-1369/local-volume-provisioner:canary` image in your arm cluster and verify if it works?

[2019-05-14 07:35] cofyc commented on #65
I'd prefer the second option.

Yes, if we want to support local volume prep in various environments, the configuration must be flexible.

This is my proposal, what do you think?

[code]

[2019-05-14 12:24] silenceshell opened #99 "better to have only one StorageClass name"
There are (at least) three StorageClass names for local volume:

- [fast-disks](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/eab7af7b2497b8384733441ec88a088f2653a041/deployment/kubernetes/example/default_example_storageclass.yaml#L5)
- [local-fast](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md#option-1-us

[2019-05-14 16:32] hangchan opened #100 "pod directory is not created"
The directory for the pod does not get created.  Have to create the directory manually on the node.

[code]

FIX
[code]

[2019-05-14 18:05] gnufied commented on #65
We have been working on a local-storage operator that uses following API to allow user to specify disks that can be used by local-storage-provisioner - https://github.com/openshift/local-storage-operator/blob/master/pkg/apis/local/v1alpha1/types.go#L54 (example: https://github.com/openshift/local-storage-operator/blob/master/examples/olm/create-cr.yaml )

@cofyc An earlier version of API we propos

[2019-05-15 02:24] cofyc commented on #99
It's ok to configure multiple storage classes with any valid names for local PVs in Kubernetes. However, in one place, it's better to use one name. Could you change `local-fast` to `local-storage` in [getting started docs](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md)?

[2019-05-15 02:27] cofyc commented on #100
hi, you shouldn't create this directory `/var/lib/kubelet/pods/27153f2b-7664-11e9-95b0-000af7854ba0/volumes/kubernetes.io~local-volume/local-pv-3a82f760`. `/var/lib/kubelet` is managed by kubelet.

[code]

According to the log, please check directory `/mnt/disks/disk1`.

[2019-05-15 02:34] msau42 commented on #99
I think it's fine to change fast-disks to local-storage too, so that our examples work out of the box with the default helm deployment.

[2019-05-15 02:44] silenceshell commented on #99
@cofyc @msau42 Thanks for your response! I will submit a PR later.

[2019-05-15 03:27] cofyc commented on #65
CRD is more flexible and Kubernetes-native to configure. Had a discussion with @gnufied, I plan to add raid support in [local-storage-operator](https://github.com/openshift/local-storage-operator).

[2019-05-15 12:07] cofyc commented on #65
Another simpler solution is to annotate the node to tell provisioner or sidecar of it to combine the disks before mounting (filesystem) or symlinking the combined disk to discovery directory.

[2019-05-15 14:13] hangchan commented on #100
It works after I manually create the directory and bind mount the filesystem, otherwise it gives me that error.

Here's my fstab entry
[code]
mkdir /var/lib/kubelet/pods/27153f2b-7664-11e9-95b0-000af7854ba0/volumes/kubernetes.io~local-volume/local-pv-3a82f760
mount -o bind /mnt/disks/disk1 /var/lib/kubelet/pods/27153f2b-7664-11e9-95b0-000af7854ba0/volumes/kubernetes.io~local-volume/local-pv-3a82f7

[2019-05-16 01:44] cofyc commented on #100
Can you paste the output of `mountpoint /mnt/disks/disk1`?

[2019-05-16 01:46] cofyc commented on #100
kubelet should retry to bind `/mnt/disks/disk1` to `/var/lib/kubelet/pods/27153f2b-7664-11e9-95b0-000af7854ba0/volumes/kubernetes.io~local-volume/local-pv-3a82f760`

[2019-05-16 03:48] msau42 commented on #100
Also, is your kubelet running in a container?

[2019-05-16 14:15] hangchan commented on #100
Yes my kubelet is running in a container.

[code]

[2019-05-16 15:23] hangchan commented on #100
Thanks @msau42.  My kubelet was running in a container.

Added additional binds and it's working.

[code]

[2019-05-16 15:23] #100 closed

[2019-05-20 19:53] miguelaeh commented on #95
Hi @cofyc ,
I will test it as soon as I can.
Thank you very much.

[2019-05-21 03:19] cofyc commented on #95
btw, official canary images have been pushed too, you can try `quay.io/external_storage/local-volume-provisioner-arm64:canary` instead.

[2019-05-27 08:07] ttimasdf commented on #52
Here's an example code snippet for tagging the generated PVs. I use this to identify bind mounts created for different purposes. It add two labels: `local-volume-original-name` based on folder name and `local-volume-node` based on hostname(which could be replaced by [the method](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/52#issuecomment-490341257) suggested by @

[2019-05-29 12:49] kandeshvari opened #105 "no pv after deploy: No resources found"
I just tried to deploy provisioner via documentation steps and via apply https://raw.githubusercontent.com/pingcap/tidb-operator/master/manifests/local-dind/local-volume-provisioner.yaml but got error "No resources found" from `kubectl get pv -A`.

local-static-provisioner pod says all is ok:
[code]

I confused by `provisioner: "kubernetes.io/no-provisioner"` in StorageClass definition. Is it corr

[2019-05-30 02:01] cofyc commented on #105
It is correct. This provision can only discover local volumes on your nodes.

Have you set up local volumes at `/media/disk/local-storage` on your nodes correctly? Here are some docs about this: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/operations.md

[2019-05-30 07:03] cofyc opened #106 "provisioner should only cache PV objects managed by itself"
[SharedInformer](https://godoc.org/k8s.io/client-go/tools/cache#SharedInformer) has a local store which stores all watched objects. However, `local-volume-provisioner` does not care about PV objects except objects managed by itself.

Because local-volume-provisioner runs on every node, it wastes a lot of memory to cache all PV objects, especially in a large cluster.

[2019-05-30 08:41] NickrenREN commented on #10
PR submitted, comments are welcome, thanks
https://github.com/kubernetes/enhancements/pull/1077

[2019-05-31 03:54] spencergilbert opened #107 "Initialization failed for volume"
Error: `MountVolume.NewMounter initialization failed for volume "local-pv-7f70b248" : path "/mnt/local/vol1" does not exist`

I could certainly be doing something pretty silly here but I'm unable to mount volumes anymore. I had tested this earlier in the year and didn't have issues so I'm not sure what I'm missing. I've attached the manifest I used.

[templated_manifest.txt](https://github.com/kub

[2019-05-31 08:12] kaleocheng opened #108 "Create PV with local folder"
I can create  two  local PVs on Kubernetes v1.13.3 with:

[code]

Both `/data/loca-pv/vol-1` and `/data/loca-pv/vol-2` are regular empty folder.

But when I try to do that with this provisioner. I got

[code]

I saw we checked this in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/pkg/discovery/discovery.go#L268.

So what's the consider in here, can we remove t

[2019-06-03 03:59] cofyc commented on #108
Here is [why](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/faqs.md#why-i-need-to-bind-mount-normal-directories-to-create-pvs-for-them) the provisioner expects a mount point on the directory.

However, local-volume-provisioner is used to discover local volumes on the node for you. If you create the local PVs manually, you don't need this program.

[2019-06-03 04:03] cofyc commented on #107
The kubelet emitted this error log because the path `/mnt/local/vol1` didn't exist on the node. I guess `/mnt/local/vol1` is the path of local PV used by the pod. You need to check the path on that node.

[2019-06-03 05:25] cofyc commented on #106
One problem is we need to wait for all PVs have been synced successfully in bootstrap.

[2019-06-03 18:03] spencergilbert commented on #107
Off the host:
`root@halfling-fidel:~# cd /mnt/local/vol1/
root@halfling-fidel:/mnt/local/vol1# pwd
/mnt/local/vol1`

[2019-06-04 01:50] cofyc commented on #107
Is your kubelet running in a container?

[2019-06-04 09:30] spencergilbert commented on #107
Ah, yes. We're using Rancher so it is containerized.

[2019-06-04 09:41] cofyc commented on #107
If the kubelet is running in a container, it cannot access the host filesystem at the same path. You must adjust `hostDir` to the correct path in the kubelet container.

For example, if the host filesystem is mounted at `/rootfs` in the kubelet container, you need to set `hostDir` to `/rootfs/mnt/local`.

[2019-06-04 10:44] cofyc commented on #107
By the way, you can also add a bind for local volumes in kubelet container. e.g.

[code]

[2019-06-04 11:00] spencergilbert commented on #107
I really should have documented all this stuff I did when it worked the first time 🙃

Thanks @cofyc

[2019-06-04 11:00] #107 closed

[2019-06-08 01:42] adrianlzt opened #111 "helm ClusterRoleBinding parametrized"
ClusterRoleBinding names are hard-coded. If two helm releases are installed they conflict.

[2019-06-10 08:26] v1c77 opened #112 "hack/local-up-cluster.sh in getting-started.md is missing"
Hi,
I tried to set up a local test cluster step by step  but I can't find  the related script `hack/local-up-cluster.sh`.
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blame/master/docs/getting-started.md#L89

[2019-06-10 08:45] cofyc commented on #112
hi,

`hack/local-up-cluster.sh` is a script to run Kubernetes on the Linux locally. Full document about it is [here](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md).

I'll update the docs to make it more clearly.

[2019-06-10 09:36] cofyc opened #113 "Start Kubernetes via minikube"
minikube is a simpler way to start a local kubernetes than `hack/local-up-cluster.sh`.

[2019-06-11 17:26] #112 closed

[2019-06-18 03:53] cofyc commented on #111
In which case, you need to deploy multiple provisioners in the cluster?

[2019-06-18 07:21] adrianlzt commented on #111
Different sets of servers with different storageClasses. Maybe I'm missing something

[2019-06-18 09:07] cofyc commented on #111
Is it possible to unify all configurations of classes in one storage class
map? If it is, you can deploy only one release of provisioner.

One impossible case is if a storage class has different host paths on
different nodes. I guess it is not recommended in production.

On Tue, Jun 18, 2019 at 3:21 PM Adrián López <notifications@github.com>
wrote:

--
Yecheng Fu (Cofyc)
https://yechengfu.com

[2019-06-20 20:19] gnufied opened #116 "Allow additional labels to be attached to PVs provisioned by the provisioner"
Ideally, I would like to accurately track PVs that were provisioned by this provisioner so as it can better integrate with higher level tools like - https://github.com/openshift/local-storage-operator

My own use case is:

1. Use creates a CR that triggers DaemonSet managed by provisioner and local-storage-operator.
2. Provisioner daemon provisions PVs as expected.
3. User deletes the CR. At this

[2019-06-20 21:53] spencergilbert opened #117 "Feature: periodic check for volume size"
This might be an edge use-case, but we're currently using this provisioner combined with ZFS to manage our PVs. We're able to dynamically resize the "volume" size on the host FS and it could be useful for the provisioner to pick up on those changes.

[2019-06-20 22:06] msau42 commented on #117
Sounds interesting. We do allow PV size to be modified although it would be interesting to figure out how this interacts with storageclass quota. Cc @gnufied

[2019-06-21 02:16] cofyc commented on #116
Yes, I'd like to allow additional labels to be attached to provisioned PVs (xref: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/52#issuecomment-484014519).

For your use case, does `pv.kubernetes.io/provisioned-by` annotation serve your purpose?

[2019-06-21 17:23] gnufied commented on #116
@cofyc The `provisioned-by` annotation includes node name(and some random hash?) IIRC. For example:

[code]

^ which won't work for my use case. The other thing obviously is - user may have been directly using local-storage-provisioner whereas I am interested in tracking PVs that are were created by the `LocalVolume` CR.

So yeah I think ability to specify custom labels in configmap should work fo

[2019-06-24 17:06] msau42 opened #119 "gce-latest job is failing"
Started failing on 6-22. May be related to v1beta1 DaemonSet being removed.

https://k8s-testgrid.appspot.com/sig-storage-local-static-provisioner#master-gce-lastest

/kind failing-test

[2019-06-26 08:06] cofyc commented on #119
/assign

[2019-06-26 10:34] cofyc commented on #52
@ttimasdf Yes, to use fixed length is better, but we can't change PV name generation function for now, because we check the existence of PV name to test whether the volume on the node has been discovered or not. Otherwise, volume on the node may be discovered twice.

[2019-06-26 17:29] #119 closed

[2019-06-27 03:27] #116 closed

[2019-07-05 17:53] JohnStrunk opened #127 "Migration of local PVs by moving disks"
**Summary**
It should be possible to move local PVs (w/ data intact) from one host to another by moving the underlying physical devices.

**Motivation**
Providing storage in bare metal environments using physical disks attached to nodes is a significant use case for the local provisioner. If a node becomes inoperable due to HW or SW failure, it should be possible for an admin to physically move th

[2019-07-09 11:19] gilbutenwiser opened #128 "mkfs fail on attach block device with error " Operation not permitted""
I have attach a block volume to a pod container using block-mode.
While i am able to create new device using **fdisk** or **parted**, i am not able to create FS with **mkfs**.

error from the pod container

[code]

[code]

Provisioner log showing new volume (Block mode)

[code]

**from pod**

[code]

Parted is able to create partition:

[code]

I can see the new device:

[code]

[code]

have try t

[2019-07-11 01:54] yeya24 commented on #108
@kaleocheng  You can check out the [getting-started-guide](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md) It is easy to mount your directory as tmpfs.
Then just set the config file to /mnt/disks and it will work.
[code]

[2019-07-14 13:35] gilbutenwiser commented on #128
i have added privilege + extra CAP in deployment.yaml
[code]
i have no the ability to create FS on block device attach to the container.
not sure this is the correct method to continue with.
Can i get help on this one.

Thanks,

Gil

[2019-07-15 16:48] msau42 opened #129 "Add documentation on how to use fs on block mode."
/help

[2019-07-15 16:49] mattymo commented on #129
/assign

[2019-07-15 16:49] mattymo commented on #129
/remove-help

[2019-07-16 04:02] cofyc commented on #128
/help
I'm not sure why you cannot run `mkfs` on the device. Hope someone can help.

[2019-07-16 17:06] zrml opened #131 "PV definition Helm only"
Hi All:

In the description on how to define a PV I only see a Helm chart option.

See the page at: sig-storage-local-static-provisioner/docs/getting-started.md

No Helm here.
Could somebody point me to an example with a std k8s yml def?
thanks a bunch

[2019-07-16 22:17] msau42 commented on #75
/remove-lifecycle stale

We might need something more stable than device name + node name. Maybe serial number?  There is an ask to better support migration of local volumes to new nodes.  https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/127

[2019-07-16 22:17] msau42 commented on #127
This may be related to https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/75, where we're exploring better ways to uniquely identify a local PV

[2019-07-16 22:40] msau42 commented on #12
/remove-lifecycle stale

[2019-07-16 22:41] msau42 commented on #131
You can check out the generated examples that we use to test our helm chart:
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/master/helm/generated_examples

[2019-07-16 22:44] msau42 commented on #128
@cofyc do you think it would be worth it to add an e2e test that does mkfs in the container?

[2019-07-16 23:47] cofyc commented on #128
I don’t think we need to add in this project but we can add in Kubernetes if it has not been tested.

[2019-07-16 23:50] cofyc commented on #128
@gilbutenwiser what’s your k8s version? Could you paste full specs of deployment and related PVCs and PVs too?

[2019-07-17 00:59] cofyc commented on #127
It's not possible to migrate local volumes without change of PVs. The `local.path` and `nodeAffinity` fields of persistent volumes are immutable in kube-apiserver. The path and the node on which local volume resides represents a unique local storage resource in the cluster. I think the simple way to migrate local volumes is to delete old PVs and discover it as a new PV on the new node (better to c

[2019-07-17 08:18] zrml commented on #131
@msau42 Thanks Michelle. Closing it. Saw you at KubeCon EU in May :)

[2019-07-17 08:18] #131 closed

[2019-07-17 17:01] JohnStrunk commented on #127
Implementing this may require kube changes. Perhaps it's worth a discussion w/ the sig to see if others have this use-case.

My concern is that even for replicated data, rebuilding/copying potentially 10+ TB of data onto a new PV is time and resource intensive. It would be much easier to move the disk to a new node and have the app just update with the changes since the failure.

[2019-07-17 18:04] msau42 commented on #127
I think it can be done today very carefully as a manual process.

Create a new PV to represent the moved disk, prebind it to the PVC.  Recreate PVC and have it bind to the new PV. Restart pod

[2019-07-18 03:52] cofyc commented on #77
/close

[2019-07-18 03:52] #77 closed

[2019-07-18 08:59] #81 closed

[2019-07-18 11:28] gertvdijk opened #132 "How do I delete a PV?"
After having used a volume before or created a storage class with a typo in the name, I'd like to remove the volumes from the list of available ones. I've failed doing so, it keeps being listed. Here's what I've tried:

1. Unmount the volume on the node.
2. Remove the volume directory on the node (as specified in the `storageClassMap` part of the ConfigMap; hostDir & mountDir do not exist any long

[2019-07-18 12:05] cofyc commented on #132
hi, PVs cannot be updated after creation. You must delete PV objects. You don't need to unmount volumes. If you want to fix the storage class name, you can follow the steps below:

- delete DaemonSet to stop provisioners
- delete the storage class and related PV objects
- create the new storage class object
- fix storageClassMap in the provisioner ConfigMap
- deploy DaemonSet to run provisioners a

[2019-07-18 18:21] JohnStrunk commented on #127
Good point.
That raises the question that if #75 changes the naming to something generic, would this group be supportive of adding functionality to the provisioner that would automate the PV/PVC switching?

[2019-07-18 19:49] msau42 commented on #127
I'm not sure how the provisioner can help orchestrate this since there's no central control plane to manage state across nodes.

As a first step, I think it would be good to try out the sequence I suggested, document the steps maybe in our FAQ/best practices section, and then we can think about how to automate it.  At a first glance I'm not sure if the provisioner is the right place. Maybe a scrip

[2019-07-21 08:30] gilbutenwiser commented on #128
Thanks for looking into this.

Versions

[code]

Pod container storage full deployment.

[code]
Local PV for storage.

[code]

pvc

[code]

storage server claim

[code]

Local Volume provisioner log

[code]

[2019-07-23 07:08] cofyc commented on #85
/remove-lifecycle stale

[2019-07-25 13:01] gertvdijk commented on #132
Thanks again for explaining. Not a bug then. When I feel more comfortable with the project I will consider to send a PR to improve the docs on it.

[2019-07-25 13:01] #132 closed

[2019-07-25 13:06] cofyc commented on #132
Welcome!

[2019-07-28 10:04] servo1x opened #134 "Healthcheck/Readiness endpoint?"
Any recommendation for what to use for healthcheck/readiness probes on the provisioner container?

[2019-07-31 11:23] #99 closed

[2019-07-31 19:17] Bessonov commented on #35
/remove-lifecycle stale

[2019-08-01 07:47] cofyc commented on #51
/remove-lifecycle rotten
I've written a design proposal, FYI: https://docs.google.com/document/d/1WtX2lRJjZ03RBdzQIZY3IOvmoYiF5JxDX35-SsCIAfg

[2019-08-07 16:36] gregwebs commented on #85
Should this still be the case? Node names are re-used across different physical instances for both GCP and AWS (under certain circumstances). This then requires disks to be mounted by UUID (which is not the case on GCP) to understand that there are different disks.

[2019-08-08 01:13] cofyc commented on #85
not, I'm closing this.

[2019-08-08 01:13] #85 closed

[2019-08-10 17:03] #58 closed

[2019-08-14 00:36] cofyc opened #136 ""exec format error" in prow build sometimes"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sig-storage-local-static-provisioner/135/pull-sig-storage-local-static-provisioner/1161331798475542528
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sig-storage-local-static-provisioner/135/pull-sig-storage-local-static-provisioner/1161438271914381314

[2019-08-14 14:26] meyerbro commented on #107
Hey @spencergilbert, how did you solve this? I'm also using rancher and I didn't find a hostDir other than "/" on my case...

[2019-08-14 15:37] meyerbro commented on #107
@cofyc, any guess on this one? Thanks!

[2019-08-14 16:32] #136 closed

[2019-08-14 17:25] spencergilbert commented on #107
Just as above since the kubelet is dockerized you need to pass additional bind config into the cluster yaml config, i've been matching ie. create pv at /mnt/local on worker node bind config as /mnt/local:/mnt/local

[2019-08-14 21:33] MaitreDede commented on #95
Hi @cofyc

I am using the current `quay.io/external_storage/local-volume-provisioner:canary` (multiarch) on a `arm` arch. I have `exec format error`.
How can I be sure the base docker image is the right arch, and check the bin also is ?

[2019-08-15 01:18] cofyc commented on #107
yes, here is rancher docs about how to configure extra binds: https://rancher.com/docs/rke/latest/en/config-options/services/services-extras/#extra-binds

[2019-08-15 01:36] cofyc commented on #95
using `file`utility. I've checked it locally, it see

[2019-08-15 03:50] #95 closed

[2019-08-15 04:55] cofyc commented on #95
@MaitreDede The bug is fixed, please try again.

This command `docker run -it --entrypoint sh quay.io/external_storage/local-volume-provisioner:canary -c 'apt-get update && apt-get install -y file && file /local-provisioner'` will show the binary information. Can you try it on your arm machine?

[2019-08-15 07:14] Thermisto opened #139 "Missing permission for creating local PV"
I have deployed the local-static-provisioner, but the local PVs can not be created. In the logs I see the following messages:
[code]
Which permission would I need to provide? Can someone please share a yaml file to create the missing permission?

My Environment:
Docker Enterprise 3.2.0
Kubernetes server version 1.14.3

Thank you,
Andreas

[2019-08-15 11:23] Thermisto commented on #139
This was an issue with Docker Enterprise UCP. I added the following:
[code]
and then it worked.

[2019-08-15 11:23] #139 closed

[2019-08-15 19:54] MaitreDede commented on #95
@cofyc Thanks, it works :)
The binary informations :
[code]
For information, it is a Raspberry Pi 4 with Raspbian. The ARCH is `arm32v7`. I don't know if there can be differences for `local-provisioner`, but it may be interesting to be more specific on these plateforms.

[2019-08-22 22:02] gregwebs commented on #65
I have implemented solution 2 for GKE. You can choose between LVM or RAID. It assumes that you want to combine all the available disks together (which is not necessarily a correct assumption for how everyone does K8s): https://github.com/pingcap/tidb-operator/blob/master/manifests/gke/local-ssd-provision/local-ssd-provision.yaml

[2019-08-22 22:11] msau42 commented on #65
/remove-lifecycle stale

Awesome! We can consider adding the script here in some addons folder if you think that would be beneficial.

[2019-08-22 22:20] gregwebs commented on #65
To be more generally useful you would probably want to do disk combining based on some node pool labeling scheme or other metadata available at startup.
This solution also causes a failure when the node restarts. This has been reported in multiple places. When reporting this to GKE support they told me that un-mounting disks is not supported at this time and they don't care to make this situation

[2019-08-28 17:23] mhenniges opened #141 "Release request - 2.3.3"
Hi Team,
Thank you very much for your work on this! I'm eager to use the PV Owner Reference functionality
that went to master in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/123  in non-canary form. Please can a release be cut soon?

If there is anything I can do to help, please just shout.

Thank you!

[2019-08-30 10:09] NickrenREN commented on #10
/remove-lifecycle stale

[2019-09-01 05:46] cofyc commented on #6
/lifecycle frozen

[2019-09-01 05:57] cofyc opened #143 "Does it make sense to have an option to clean PV before discovering it as a new PV?"
Current lifecycle:

[code]

New lifecycle (optional):

[code]

[2019-09-04 02:00] cofyc commented on #141
hi, v2.3.3 has been released: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/v2.3.3

[2019-09-04 02:00] #141 closed

[2019-09-05 09:13] AsherShoshan opened #146 "daemonset not created"
installed on Openshift 4.2 in ns 'local-storage"
kubectl describe daemonset local-volume-provisioner -n local-storage -->
Error creating: pods "local-volume-provisioner-" is forbidden: unable to validate against any security context constraint: [spec.volumes[1]: Invalid value: "hostPath": hostPath volumes are not allowed to be used spec.containers[0].securityContext.privileged: Invalid value: true

[2019-09-05 15:07] msau42 commented on #146
/assign @gnufied

[2019-09-06 11:51] mhenniges commented on #141
Thank you very much @cofyc  and @msau42 !

[2019-09-09 22:40] msau42 commented on #113
https://github.com/kubernetes-sigs/kind is also an alternative way too
/remove-lifecycle stale

[2019-09-10 13:51] cwpestana opened #147 "PV in pending status for ever"
Hello,
I'am trying to deploy sig storage in a UCP (Docker EE) enviroment, provisioner pods are deployed and working, but the PV remains in "pending" status.

Here is the provisioner log:
I0910 13:31:41.208017       1 common.go:334] StorageClass "localstorage" configured with MountDir "/data/rook/storage-dir/sig", HostDir "/data/rook/storage-dir/sig", VolumeMode "Block", FsType "", BlockCleanerComm

[2019-09-10 14:13] msau42 commented on #147
PV controller in kube-controller-manager is responsible for processing new PVs and setting Phase to Available.  Can you check your kube-controller-manager logs?

[2019-09-10 20:34] gnufied commented on #146
What instructions did you follow for installing? Openshift-4.2 will ship local-storage-operator as default method of configuring local-storage in the cluster - https://github.com/openshift/local-storage-operator . You can try the operator and open bugs if you see any issues.

[2019-09-11 07:00] cwpestana commented on #147
The serviceaccount kube-system:persistent-volume-binder did not have enough permissions in UCP, I assigned the appropriate permissions and the PV was created:
Describe output:

Name:              local-pv-e89480f9
Labels:            <none>
Annotations:       pv.kubernetes.io/provisioned-by=local-volume-provisioner-wdocker1-1099ef3e-d3a9-11e9-8aee-0242ac110005
Finalizers:        [kubernetes.io/pv-p

[2019-09-11 15:16] msau42 commented on #147
Did Statefulset controller create a pod? And was scheduler able to process it?

[2019-09-12 07:57] cwpestana commented on #147
I found the problem, the PVC create has "VolumeMode: Filesystem" but the PV is "VolumeMode: Block", I added "volumeMode: Block" in spec section of the statefulset and the PVC was created with status "bound"
Here the describe output of PVC

Name:          local-vol-local-test-0
Namespace:     testlocalstorage
StorageClass:  localstorage
Status:        Bound
Volume:        local-pv-e89480f9
Labels:

[2019-09-15 08:50] AsherShoshan commented on #146
Hi,
I haven't installed openshift local-storage provisioner.
only the sig-local-storage provisioner
Probably it's something to do with openshift csc authorizations?

On Tue, Sep 10, 2019 at 11:34 PM Hemant Kumar <notifications@github.com>
wrote:

[2019-09-17 06:07] cofyc commented on #143
use cases:

- if we clean the volume before provisioning it as a new PV into Kubernetes, it will be safe to delete the PV objects and don't worry about the data will be leaked. (https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/126#issuecomment-511651492)

[2019-09-23 05:30] cofyc commented on #134
xref: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/135

[2019-09-25 05:03] #7 closed

[2019-09-25 05:03] #11 closed

[2019-09-27 04:50] #64 closed

[2019-10-01 14:23] kcao3 opened #150 "How to prevent a local PV claim from binding to the 'Wrong' local PV (volume size way exceeds what was requested)"
Hello. I'm currently using this sig-storage-local-static-provisioner and have 2 local PVs: one is 10GiB and the other one is 1TiB in my k8s cluster. If a developer creates a 1GiB PV claim, does anyone how a technique to ensure this PV claim is always binding to the 10GiB PV rather than the 1TiB PV?

My current workaround is to delete the sig-storage-local-static-provisioner DaemonSet and the very

[2019-10-01 18:14] fberzolla opened #151 "When using Retain policy. When recreating a PVC with same name The previous one is not reused"
Hi
I'm using the provider with a storage class with Retain policy. It works fine for the first PVC.
<img width="1519" alt="image" src="https://user-images.githubusercontent.com/1150702/65988074-72d83280-e487-11e9-97d3-f1eb56f4c2b1.png">
But if i delete the PVC and recreate it the previous associated PVC is not re-used (Retain)
<img width="1512" alt="image" src="https://user-images.githubuserconten

[2019-10-01 18:24] kcao3 commented on #150
<sub>[View in Slack](https://kubernetes.slack.com/archives/C09QZFCE5/p1569938038169600)</sub>

[2019-10-01 22:41] msau42 commented on #150
My suggestion is to put your PVs in different StorageClasses, since it sounds like they're intended for different workloads.

https://github.com/kubernetes/kubernetes/issues/83323 can help with this by preferring nodes closer to the PV size, but it won't completely help based off of other scheduler priorities.

[2019-10-01 23:10] nyurik commented on #65
@gregwebs this is awesome, I have been looking for something like this for a very long time!  It would be absolutely awesome to have this as a ready-to-use component rather than a large code copy/paste. A few notes:
* GCP will soon (hopefully) introduce NVMEs -- `gcloud alpha` already supports [--local-ssd-volumes](https://cloud.google.com/sdk/gcloud/reference/alpha/container/clusters/create#--loc

[2019-10-02 12:56] #94 closed

[2019-10-10 03:11] #108 closed

[2019-10-11 05:19] #78 closed

[2019-10-16 15:08] bcollard commented on #12
Hello,

What about guiding people to use Kustomize + patches or configMapGenerator, so that for each update of the CM, the DaemonSet is notified and updated with a new CM name.
This would need a step-by-step guide.

[2019-10-16 15:25] bcollard commented on #151
Hello,

What do you want to prove?

When you delete a PVC, the _associated_ PV is **released** if the **reclaim policy** associated to the **storageClass** is set to "**Retain**".

That permits an admin to perform additional steps, such as data backup.

But, from my understanding [of the doc](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#lifecycle-of-a-volume-and-claim), the goal

[2019-10-17 01:43] cofyc commented on #127
/remove-lifecycle stale

[2019-10-27 03:32] #105 closed

[2019-10-28 21:33] jbalonso opened #153 "ARM images appear to be missing from quay.io"
After all the hard work in #95 and #96 , I'm seeing the following when I run `docker manifest inspect quay.io/external_storage/local-volume-provisioner:v2.3.3`:
[code]

Also, I'm getting `ErrImagePull` on my arm64 kubelet.

[2019-10-28 21:58] msau42 commented on #153
Unfortunately, our underlying release-infra does not support cross building, so we had to disable it: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/140

[2019-10-30 17:48] Bessonov commented on #35
/remove-lifecycle stale

[2019-10-31 07:09] #106 closed

[2019-11-02 00:49] cofyc commented on #153
Sorry about this. As a workaround, you can build arm images for your own use in the following steps for now:

1. create a docker repository, e.g. quay.io/jbalonso/local-volume-provisioner

2. build image (docker is required)

[code]

3. push image

[code]

[2019-11-02 01:16] jbalonso commented on #153
Thanks. This got away from me for a bit.

My use case required multi-arch image manifests, but I was able to get `hack/release.sh` to work for me with a manual hack to set `ALL_ARCH` (perhaps letting that be overridden by an environment variable would be cool?).

I've since found that [rancher/local-path-provisioner](https://github.com/rancher/local-path-provisioner) is a better fit for my use cas

[2019-11-02 09:42] cofyc commented on #153
cool?

Good idea! Can you open a PR for this?

This issue can be kept open until we support multi-arch again.

On Sat, Nov 2, 2019 at 9:16 AM Jason B. Alonso <notifications@github.com>
wrote:

--
Yecheng Fu (Cofyc)
https://yechengfu.com

[2019-11-04 22:16] jbalonso commented on #153
Ok. I've submitted my PR for the override capability. It includes a touch of documentation--I felt bold enough to give it as a third invocation example.

[2019-11-08 14:41] R-omk opened #156 "btrfs support"
What do you think about integration with btrfs?

btrfs supports snapshots and quotas, it is also easy to backup and migrate to another host. There is also RAID support

[2019-11-12 08:59] bcollard commented on #12
Please, what's your opinion about this?
My feeling is that most people need to deploy new apps regularly. So we cannot offer a static configuration through this configMap / DaemonSet combo.

What's the proposed way of working when one want to deploy a new app requiring some PV(s)?
How to update the DS and CM properly?

[2019-11-12 09:07] cofyc commented on #12
you need to update the ConfigMap first, then delete the pods of DaemonSet to take effect.
please note that it's unsafe to change the discovery directory of storage class or rename the storage class

[2019-11-12 09:16] bcollard commented on #12
Well, let's say I add a new storageClass to the configMap.
Then I delete the DS so that it "restarts" with the correct CM.
I think there will be a problem since the DS template has not changed and the new storageClass "base path" volume will not be mounted on the DS pods, neither under `Volumes:` nor under `volumeMounts:`

[2019-11-12 09:22] cofyc commented on #12
you're right, the DS must be updated too when new discovery directories are added

[2019-11-12 09:35] bcollard commented on #12
yes and you are forced to use different StorageClass when you want to share the volumes between different applications. Otherwise, the first arrived is the first served, no matter the volume size adequacy, see #150

[2019-11-13 00:12] msau42 commented on #129
/lifecycle frozen

[2019-11-14 23:03] #113 closed

[2019-11-15 11:03] #111 closed

[2019-11-18 00:03] #117 closed

[2019-11-23 12:11] #52 closed

[2019-11-25 08:01] yuyulei commented on #143
another case:

- you use cloud storage as local pv, after pvc&pod deleted, and cleanup pv successfully. But actually, cloud storage not works as expected. Then provisioner creates the pv with same name and path. Later another pod uses the pv, it finds some data not belong to itself.

so it really make sense, at least, check there are some data before pv available.

[2019-11-29 08:00] w548544375 opened #158 "[help]multpile pvs on one node"
hi,thanks for your time!
i am trying to build a mysql master-slave demo on my mac machine with in minikuber (v.1.5.2).
**First Step**
i had create three direct directories master01,slave01,slave02 in minikube vm.
`$ ls /mnt/ `
`master01  slave01  slave02  vda1`
**Second Step**
there are my k8s files.

1. sc.yaml
[code]
2. pv.yaml
[code]
3.pvc.yaml
[code]
4. mysql-deployment.yaml
[code]
5. mysql-co

[2019-12-05 16:08] lz006 opened #159 "Configuration of volume mode "block" should be completed"
In order to get local-provisioner creating pvs for raw block devices host path "/dev" needs to be mounted in daemonset to "/dev" as well.

This hasn't been described in docs nor an example is provided.

Furthermore this might has led to error in kubespray https://github.com/kubernetes-sigs/kubespray/issues/5389

[2019-12-11 14:22] msau42 commented on #147
/close

[2019-12-11 14:22] #147 closed

[2019-12-14 17:35] Gsyltc opened #161 "WSL2 - Hostpath volume does not work"
Hi,

I have migrated to WSL2 - Windows 10.
Since I have the following issue :

Hostpath volume are not mounted into containers. (directory are empty)

The volumes are well created, the desired path is correct. Like `/volumes/my-cluster/services1/www`
Directory "/volumes" have 777 permissions

Volumes looks like that :

PersistenVolumeClaim are bounds to the volumes

In WSL1, at the start of the de

[2019-12-16 01:49] cofyc commented on #159
it's not documented, but builtin in helm chart. do you suggest to document it, can you send a PR?

[2019-12-16 01:52] cofyc commented on #158
can you run `kubectl describe pods` and paste the output here?

[2019-12-16 01:52] cofyc commented on #158
by the way, what's your Kubernetes version?

[2019-12-16 01:54] cofyc commented on #158
because you had used `selector` in your PVC, I think you don't need `volumeBindingMode: WaitForFirstConsumer` in your storage class. You can remove it and try again.

[2019-12-16 22:24] bcollard commented on #12
For what it's worth, here is a step-by-step guide on how I'm managing evolving storage requirements:
https://www.baptistout.net/posts/dynamize-your-local-storage-kubernetes-ansible/
This uses Kustomize to patch the configmap and the daemonset of the provisioner.

[2019-12-18 10:56] #128 closed

[2019-12-24 00:31] msau42 commented on #161
We have not added Windows support at all. Would you be interested in helping?

/kind feature
/help

[2019-12-24 00:33] msau42 commented on #158
I'm not sure a selector is even necessary. You could just set PV.Spec.ClaimRef to the PVC name+namespace ahead of time.

[2019-12-24 00:45] msau42 commented on #151
@bcollard is correct in that in the normal scenario, to reuse the PV, it should be cleaned up (data wiped), and then PV object deleted.

In your case, do you want to keep the data and reuse it for the new application that uses the same PVC name + namespace?  If so, then you can patch the PV to remove the PV.Spec.ClaimRef.UID field. That should allow it to rebind to another PVC with the same name/n

[2019-12-24 00:49] msau42 commented on #150
/close

We can track the priority function implementation through kubernetes/kubernetes#83323

[2019-12-24 00:49] #150 closed

[2019-12-24 00:50] msau42 commented on #159
/help
/kind cleanup

[2019-12-24 00:51] msau42 commented on #146
@AsherShoshan do you still have issues?

[2019-12-24 00:57] msau42 commented on #143
Yes I think this is a good idea, although this will cause the recycling flow to double for very large disks. We can add it as a new option

/help
/kind feature

[2019-12-24 00:57] msau42 commented on #134
/close
Implemented by #135

[2019-12-24 00:57] #134 closed

[2019-12-24 01:00] msau42 commented on #10
/lifecycle frozen

[2019-12-25 17:23] s-u-m-e opened #163 "PersistentVolume not being created"
I'm trying to get the provisioner to work on my 1 node ubuntu kubernetes cluster. What am I missing?

I followed the instructions [here](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md) and the [Operations readme](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/operations.md)
`/etc/fstab` has `UUID

[2019-12-26 02:14] cofyc commented on #163
hi, you configured `/home/sume/storage` as a discovery directory. So you need to mount the volume on a sub-directory of it.

If you want to [share this volume by multiple PVs](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/operations.md#sharing-a-disk-filesystem-by-multiple-filesystem-pvs), you must run `mount --bind /home/sume/storage/test /home/sume/stor

[2019-12-26 02:59] s-u-m-e commented on #163
Thank you @cofyc!

[2019-12-26 02:59] #163 closed

[2019-12-29 10:14] #51 closed

[2020-01-02 04:00] gregwebs commented on #65
@nyurik sorry I missed your message. GCP improvements here are still in the alpha phase.
I haven't seen errors from mdadm.
We just updated the script for an incompatibility with newer GKE image verisons.
You are welcome to take the script for your docker image.

[2020-01-07 10:46] AsherShoshan commented on #146
No, Thanks
(openshift cluster)

On Tue, Dec 24, 2019 at 2:51 AM Michelle Au <notifications@github.com>
wrote:

[2020-01-17 05:24] cofyc commented on #156
hi, sorry for missing this
I do not fully understand your suggestion. local volume static provisioner discoveries volumes on the node, which filesystem the volume is up to the user. Can you describe a use case?

[2020-01-17 07:10] R-omk commented on #156
it's about dynamically creating partitions (subvolume in the case of btrfs or logical volume in lvm).
Like here (https://github.com/rancher/local-path-provisioner)  subdirectories are dynamically created

[2020-01-21 07:24] cofyc opened #166 "GKE CI job fails to start"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sig-storage-local-static-provisioner/165/pull-sig-storage-local-static-provisioner-e2e-gke/1219515570395811841
/kind bug

[code]

[2020-01-26 23:05] yoesmat opened #167 "Consider adding SPDK support"
There are some high performance workloads that use [SPDK](https://spdk.io/doc/about.html) over NVMe that require unloading the normal kernel driver and loading UIO/VFIO drivers for the device.

This issue is to explore allowing the workload to specify SPDK in PVC and having kubernetes storage infrastructure load the appropriate drivers and prep the device.

Similar asks:
https://github.com/kuberne

[2020-01-26 23:06] yoesmat commented on #167
/kind feature

[2020-01-28 21:18] Bessonov commented on #35
go away, evil bot... /remove-lifecycle stale

[2020-01-30 12:06] matejhasul opened #168 "Provision PV with RWX access mode"
Hi there,
I was wondering why provisioned PVs have hardcoded accessMode to ReadWriteOnce - https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/81987abf18dab49f33e35fb658df21864a737ef5/pkg/common/common.go#L232.

I believe it makes sense to have PV which is accessed from multiple pods (running on same worker node) at the same time. Pods do not touch same data (same files) o

[2020-01-30 12:27] cofyc commented on #168
hi, multiple pods can access a ReadWriteOnce PV on the same machine. It's easy to get wrong, please note that the [access mode](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes) PV determines how PV can be mounted by nodes not by pods.

- ReadWriteOnce – the volume can be mounted as read-write by a single node
- ReadOnlyMany – the volume can be mounted read-only by many

[2020-01-30 13:17] matejhasul commented on #168
Thanks for quick response!

You are obviously right, it works as expected, thanks!

[2020-01-30 13:17] #168 closed

[2020-01-31 21:18] cofyc commented on #166
the current default version of GKE is 1.13. however, `gs://kubernetes-release-dev/ci/latest-1.13.txt` does not exist anymore, so the test fails.

[2020-01-31 21:52] cofyc commented on #12
/unassign
I'm going to unassign myself from this issue. The biggest problem of reloading configuration on the fly is it's not safe to change the configuration dynamically. Manual intervention is often required.
Instead, we should document the upgrade steps in detail.

[2020-02-03 01:11] cofyc commented on #153
/remove-lifecycle stale

[2020-02-05 06:29] #129 closed

[2020-02-06 17:15] msau42 commented on #146
/close

[2020-02-06 17:15] #146 closed

[2020-02-10 17:17] msau42 commented on #75
/lifecycle frozen

[2020-02-10 17:17] msau42 commented on #65
/lifecycle frozen

[2020-02-10 17:24] msau42 commented on #167
Right now, "device preparation" is out of scope of this project, because there are so many different ways users may want to configure their devices (raid, lvm, spdk, etc), and it will be difficult to accommodate all of them with a clean API.

My current recommendation is to do any custom device preparation as either: 1) an init container or 2) a separate daemonset that labels nodes when its done,

[2020-02-15 15:40] gnufied opened #172 "Add support for surfacing metadata about disks in PVs"
We have a use case where some people want to know metadata about disks to be available in PVs, so as they can optionally bind to specific PV with specific characteristic.

I have been thinking about what could be the best way to surface information. One of the things we could do is, we could add properties returning by `lsblk` as default in PV as labels/annotations. But that could be too much data

[2020-02-18 13:23] rohantmp opened #173 "Local block devices as a volume source, with partitioning and fs formatting"
I see partitioning in the planned Future Feature's section of the Readme.

Is there any development planned in this area?

[2020-02-18 13:25] rohantmp commented on #173
CC @leseb

[2020-02-19 01:22] kapil-ms opened #175 "Provision volume using mount path"
Hi

I am trying to create a persistent volume for a local disk /dev/sdb1 mounted at /mnt in an Azure Kubernetes Service cluster. I get an error as below-

[code]

As per my understanding from the documentation, the local static provisioner requires the mount points as links in a directory through which it loops. But that requires an additional step.

Is there a way to create a persistent volume by

[2020-02-19 01:26] kapil-ms opened #176 "Could not get node information: does not work with K8s version 1.15.7"
Hi

After deploying the generated yaml to an Azure Kubernetes service cluster with Kubernetes v1.15.7, I get the following error in the provisioner pods-

[code]

However, the pods are able to get the node information when I deployed the same generated yaml in a cluster with kubernetes v1.14.7.

Could you please help with this issue?

Thanks

[2020-02-19 02:09] cofyc commented on #176
can you paste the generated yaml here?

[2020-02-19 02:43] cofyc commented on #175
no, it requires the directory is a mount point, this is why it fails with this error:

[code]

I didn't use Azure Kubernetes Service yet. Is there a local disk mounted at `/mnt` and you want to discover it as a local volume?

First, you need to create a discovery directory other than `/mnt` for local volume provisioner, e.g. `/local-disks`.

Then, get the UUID of the device and make it accessible

[2020-02-19 03:51] kapil-ms commented on #175
This is what the disk space on the node looks like-
![image](https://user-images.githubusercontent.com/20193720/74799710-1c2c9300-5286-11ea-89f2-3e7a1f83151b.png)

/dev/sdb1 is an ext4 formatted disk mounted at path /mnt. It has a file and a directory in it by default.
![image](https://user-images.githubusercontent.com/20193720/74799752-50a04f00-5286-11ea-8973-5a8447399745.png)

I want to discover

[2020-02-19 04:47] cofyc commented on #175
hi, you can automate this via init container. https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

use `/` as a discovery directory is not recommended. If it is possible to change the mount point of the local disk, you can change it to some other place, like `/mnt/local`. Then you can use `/local` as discovery directory.

[2020-02-19 04:51] kapil-ms commented on #176
I ended up recreating a cluster with v1.15.7 to verify and it worked. So maybe something was wrong with that particular cluster.

[2020-02-19 04:51] #176 closed

[2020-02-21 13:25] cofyc commented on #173
sorry, we don't any plan for this right now. there are many ways to prepare disks on the host. as @msau42 suggested [here](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/167#issuecomment-584236113), using 1) init container or 2) daemonset is recommended.

btw, as for fs formatting, I would recommend leveraging block volume formatting features.

[2020-02-21 13:26] cofyc opened #177 "release v2.3.4"
track issue for next release

notable changes:

- controller/discoverer: add readiness check: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/135
- report the capacity in bytes of the local volumes discovered: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/160

bug fixes:

- #174

docs:

- #130
- #170
- #169

[2020-02-22 01:21] kapil-ms commented on #175
So, I have the following setup.

1. I have an init container which creates a link as follows-
[code]

2. The storage class map looks like-
[code]

The PV gets created and when a pod requests for the volume, the PVC gets created. However, when the pod and PVC are deleted, I get the following error in the local static provisioner-

[code]

I think this could be happening because in an Azure Linux VM

[2020-02-25 19:58] #177 closed

[2020-02-27 22:21] Bessonov commented on #35
still evil... /remove-lifecycle stale

[2020-02-27 22:21] Bessonov commented on #35
/remove-lifecycle rotten

[2020-02-29 09:14] yustoris opened #180 "Could not get specified capacity for local PV"
I've applied the provisioner like following (except RBAC settings) on a RKE (k8s version is 1.14.6).
https://gist.github.com/yustoris/28f0c025e2cbf0ccdcbb7a5bb84f3acc#file-provisioner-yaml

And got provisioner log below that seems successfully created PV.
https://gist.github.com/yustoris/28f0c025e2cbf0ccdcbb7a5bb84f3acc#file-provisioner-log

However, when I applied a [test application manifest and

[2020-03-14 21:05] joekohlsdorf opened #181 "Rotating cloud instances with PVCs in a StatefulSet"
Online you can find a bunch of examples (even in the official docs) which show how to use the local-volume-provisioner in combination with PhysicalVolumeClaims in a StatefulSet.

All works fine until a node goes away and your cloud provider brings up a new one, be it due to an issue on their side or due to you bringing up some new nodes because you are upgrading K8s.

What happens in this case is

[2020-03-15 03:11] #127 closed

[2020-03-23 01:36] cofyc commented on #143
/remove-lifecycle stale

[2020-04-02 05:36] backnotprop commented on #168
@cofyc do you have an example of this? Once my pv's are all assigned by the pod # that matches node total, the remaining pods fail as there are no available pv's left. Im using the latest updates and GKE / local-scsi approach.

[2020-04-10 05:41] nerddelphi commented on #65
/remove-lifecycle frozen

@msau42 @gregwebs @nyurik @cofyc @gnufied @schallert
Hi there.

I'm excited using Local SSDs in GKE and make a RAID-0 Volume using theses disks. Although, even with the daemonset of **local-static-provisioner** helm chart with initContainer and RAID script from @gregwebs, I have an critical issue simulating disrupting scenarios.

If I use a StatefulSet with PVC, like this

[2020-04-10 05:53] nerddelphi commented on #181
@joekohlsdorf I guess we are facing the same issue: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/65#issuecomment-611887301

How do you plan solve that?

[2020-04-10 06:13] cofyc commented on #181
There is no Kubernetes-official way right now because Kubernetes will not unbind or delete PVCs. It's up to the users to recover from this situation. I have a plan to write a cloud controller to handle this automatically.

When a new node with a different name is created to replace the old node (e.g. auto-scaling group in AWS), PVs belonging to the old node are invalid. PVCs must be deleted, then

[2020-04-10 06:17] cofyc commented on #180
maybe the path of local PV points to the wrong filesystem. what's the capacity in the PV object? haven't you check the mount point of local PV on the node?

[2020-04-10 06:18] joekohlsdorf commented on #181
What I did is I wrote a janitor which every 20 seconds looks for pending pods which have PVCs bound to PVs on dead hosts and will remove the PVC if necessary. It then deletes the pending pod to get it scheduled again.

My nodes for this service are static and have labels, this way I can be sure that the host isn't just rebooting. I know that my service runs on X nodes but if I see X nodes online a

[2020-04-10 06:53] cofyc commented on #65
hi, @nerddelphi

your manual operation is correct but unfortunately, there is no automatic solution right now. I'm thinking about writing a cloud controller to automate this.

[2020-04-10 14:42] nerddelphi commented on #181
Thank for your answers, @cofyc and @joekohlsdorf .

@joekohlsdorf could you provide your janitor with us? I'll be glad if you can.

[2020-04-10 14:57] msau42 commented on #181
@NickrenREN may have written a similar controller in the past

[2020-04-10 22:01] joekohlsdorf commented on #181
Well I certainly would strongly advise against doing what I did but here is the unedited janitor I hacked up. Please only use it as a reference, I had to get this done in a time crunch.
https://gist.github.com/joekohlsdorf/2658f03b1e1b6194ebe6b61bd8770647

[2020-04-11 00:51] nerddelphi commented on #181
Hi, @joekohlsdorf . Thank you for script.

[2020-04-12 11:06] pierreozoux commented on #35
As the central helm repo is being deprecated, I think you can close this issue.

[2020-04-13 05:55] NickrenREN commented on #181
There is an [issue](https://github.com/kubernetes/kubernetes/issues/65392) that is similiar to this.
Some guys and I propose to introduce **NodeFencing** to solve this because it suit for both Cloud Providers and Bare metals and the reaction is relatively simple.
But others decide to take NodeShutdown taint method, there is an ongoing proposal: https://github.com/kubernetes/enhancements/pull/1116.

[2020-04-13 16:08] nerddelphi commented on #181
@NickrenREN Are you using that implementation? https://github.com/kvaps/kube-fencing . If yes, what kind of agent to dealing with PV/PVC issues?
My clusters are on GKE.

Thank you.

[2020-04-14 03:59] NickrenREN commented on #181
@nerddelphi No, our fencing controller and agent are implemented by ourselves.
Agent is designed to shut down machines forcefully,  the control logic, race conditions and cleanup work are done by controller.

[2020-04-14 04:01] NickrenREN commented on #181
The design above is for bare metals, and for cloud providers, it may be a little bit different

[2020-04-18 08:33] rsoika commented on #181
I am sorry that I am entering this discussion even though I am not a Kubernetes expert as you.
But I have been dealing with this problem for a some weeks and I also followed [this](https://github.com/kubernetes/kubernetes/issues/65392) long running discussion.

I am running a simple Kubernetes Cluster with only a view Nodes. I guess this is a complete different environment as that ones you discuss

[2020-04-20 05:24] NickrenREN commented on #181
@rsoika Thanks for your input.
IIUIC, your scenario is the case NodeFencing can solve. If the node is dead (or Unknown), it will be forced to shut down and we do not expect it to be back again, as you described, data management isn't kubernetes' job. So the reaction is easy: go ahead and detach the volume forcefully.
And of course, if you want to bring you node back, you need to do the cleanup wor

[2020-04-20 06:04] rsoika commented on #181
@NickrenREN Thanks for your clarification. So there is no self-healing mechanism in Kubernetes for this scenario?

[2020-04-20 06:06] NickrenREN commented on #181
@rsoika For now, yes

[2020-04-20 06:10] NickrenREN commented on #181
@rsoika Since the progress of "Node Shutdown Taint" feature is slow, we are considering creating new proposal and projects to opensource "NodeFencing" solution. It can be another option.

[2020-04-20 16:32] nerddelphi commented on #181
@joekohlsdorf Hi.

Are yours PVs (bound to the deleted PVC) deleted as well? In my cluster (GKE) they are with status RELEASED, even after its PVC be deleted by a janitor and my StorageClass/ReclaimPolicy be DELETE.
![image](https://user-images.githubusercontent.com/28447854/79775083-17c63a00-830a-11ea-808b-bb1b0092619d.png)

Are you experiencing that behavior?

I guess I wouldn't billed for a non

[2020-04-21 03:00] cofyc commented on #181
If nodes which these PVs belong to do not exist anymore, you need to delete these PVs manually because no local-volume-provisioner can run on these nodes and recycle them.

[2020-04-21 05:13] NickrenREN commented on #181
@nerddelphi  For now, k8s controller will just send Delete events (setting deletion timestamp), and as @cofyc said, the drivers(or kubelet) on the broken node break down too, so it won't do the cleanup work.
But with NodeFencing feature, these PVs can be released automatically.

[2020-04-21 10:42] rsoika commented on #181
Is the feature of NodeFencing official planned or is it still only in discussion?
I found these projects that seems to address the problem:

https://github.com/kvaps/kube-fencing
https://github.com/rootfs/node-fencing

[2020-04-21 13:31] NickrenREN commented on #181
IIRC, NodeFencing was discussed before but we didn't reach an agreement 😓

[2020-04-21 15:32] nerddelphi commented on #181
Ok, guys. Thank you!

[2020-04-21 16:03] rsoika commented on #181
@NickrenREN  can you share the discussion about the NodeFencing feature? I would like to better understand the backgrounds.

[2020-04-22 02:07] msau42 commented on #161
/lifecycle frozen

[2020-04-22 02:08] msau42 commented on #159
/lifecycle frozen

[2020-04-22 06:24] NickrenREN commented on #181
It was originally discussed here: https://github.com/kubernetes/kubernetes/issues/65392
We also discussed it several times offline on slack.

And also, there are several KEPs there, but didn't get merged:
https://github.com/kubernetes/community/pull/2763
https://github.com/kubernetes/community/pull/1416

We didn't reach an agreement, and if needed, i'd like to reopen the discussion.

[2020-04-22 08:22] rsoika commented on #181
I can't believe that this is true. I invested so much time to migrate from docker-swarm to kubernetes. Now I had to learn that kubernetes is not a self-healing system as promoted form everywhere. I think I understand the discussion and concerns about the pros and cons very well. But I am personally not on a level that I can discuss this in the refered groups.

It is absolutely strange: I makes no

[2020-04-23 06:39] vidolch opened #185 "Local volumes not discovered"
Hello,

I am beating my head against the wall for several days with this issue.
We are currently having Kubernetes hosted on a baremetal server (Ubuntu 18.04.3 LTS). I want to enable static provisioning since we have multiple services that require storage.
The volumes are configured as follows:
[code]
(I use tmpfs since we are in the development phase and still don't have an appropriate solution.)

[2020-04-24 00:58] msau42 commented on #185
Hm this seems ok to me. Can you show the provisioner daemonset yaml?

[2020-04-24 11:13] vidolch commented on #185
This is the generated yaml file:
[code]

[2020-05-04 16:21] mdbooth opened #186 "nodeLabelsForPV should contain kubernetes.io/hostname by default"
I came here to submit a patch to add this label to PVs, but on reviewing the code I discovered there's already an option to do it, but it's disabled by default.

The host node of local storage which can only be accessed from its host node is such a fundamental property that I was extremely surprised to discover it was not already discoverable. My specific use case is that I need to select a PV on

[2020-05-06 01:17] cofyc commented on #153
/remove-lifecycle stale

[2020-05-06 01:19] cofyc commented on #186
add `kubernetes.io/hostname` label by default in the next major release? cc @msau42

[2020-05-06 16:03] msau42 commented on #153
in the csi project, we're currently migrating our build infra from quay to gcr provided by k8s-infra. One of the goal is to support multi-arch images using docker buildx. So far experimentation is going well, and we may want to consider something similar for this repo. example: https://github.com/kubernetes-csi/node-driver-registrar/blob/master/cloudbuild.yaml

[2020-05-17 03:36] andyzhangx commented on #173
Hi @cofyc, I see [doc](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/97900174eb6516ca98aeacc6c7e543bf763a4b29#112-beta) said

 - 1.12: Beta
Added support for automatically formatting a filesystem on the given block device in localVolumeSource.path

so it formatting supported or not? if supported, how to set? and I don't find any formatting code in this sig-storage-lo

[2020-05-17 03:38] andyzhangx commented on #173
Update:
ok, i see formatting is already supported by local-persistent-volumes: https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/

[2020-05-17 13:19] andyzhangx commented on #173
question is how can I format this block device, even if I set like this:
[code]

And I still get a `volumeMode: Block` pv, and I can only use raw block device for that pv.
[code]

[2020-05-18 00:45] cofyc commented on #173
hi, this is a little misleading. [This doc](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/97900174eb6516ca98aeacc6c7e543bf763a4b29#k8s-feature-status) lists the feature status of each Kubernetes version. It's unrelated to provisioner project.

Since 1.12, Block Local PV `volumeMode: Block` can be consumed by Kubernetes. If you don't use block PV as a raw block volume

[2020-05-18 01:05] andyzhangx commented on #173
hi @cofyc the point is if I use this provisioner driver, I will get `volumeMode: Block` PV for new disk, how can I use it for `volumeMode: Filesystem` pvc and pod? It looks like I need to run a daemonset to format disk first, and then could get `volumeMode: Filesystem` PV for new disk.

[2020-05-18 03:39] cofyc commented on #173
this project does not support preparing disks automatically yet. this is because there are too many possibilities here (raid/lvm, partition, etc.). I had thought about it (see my [old proposal](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/103/files)) but don't have enough time to continue. In most cases, users can write a simple shell script in init container to do

[2020-05-18 06:13] andyzhangx commented on #173
Thanks for the clarification @cofyc , I agree, there are two many options. And is it possible to only implement format functionality(one disk pv for one new disk), that could be a small change, I have already verified it should work, we only need to add field `spec.local.fsType`, and set block device `/dev/xxx` as `volumeMode: Filesystem` in the PV, by  that way, we don't need to workaround(init c

[2020-05-18 07:43] andyzhangx commented on #173
I think the `volumeMode: Filesystem` could be wrong here since I have already set `volumeMode: Filesystem` and this static provisioner would generate PV with `volumeMode: Block`, so my proposal is to fix this issue in discovery process:
if set `volumeMode: Filesystem`, then only `volumeMode: Block` PV would be created, and `spec.local.fsType` would be set.

Here is the original doc.
https://github

[2020-05-19 01:29] cofyc commented on #173
[code]

have you tried this configuration?

I guess you mean `volumeMode: Filesystem`?

Do you want to discovery raw block device as a Filesystem mode PV with `local.fsType` set? The current provisioner should already support this. In this function, we will create PV with the desired volume mode and file type.

https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/97900174eb

[2020-05-19 06:39] andyzhangx commented on #173
@cofyc thanks, that's what I want, discovery raw block device as a Filesystem mode PV with local.fsType set and I have already used following config:
[code]

I think it's a bug in at least in `local-volume-provisioner:v2.1.0`, let me try latest version later, thanks for the explanation.

[2020-05-20 08:12] andyzhangx commented on #173
update:
after switching to use `local-volume-provisioner:v2.3.4`, I found `volumeMode: Filesystem` PV is created on block device, and also the raw block device could be formatted in pod mounting now, so we could get rid of initContainer or daemonset which does the formatting now.

One improvement could be add a device matching in discovery, otherwise discover `/dev` could populate too many PVs, an

[2020-05-22 02:45] #151 closed

[2020-05-23 01:03] andyzhangx commented on #65
Since this PR(https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/187) has already added `namePattern` parameter, what about this lightweight design: add a new parameter `raid` in `storageClassMap`, e.g. in following example, provisioner discovery will:
 - in the discovery loop, it will check whether `/dev/md0` exists, if exists, then skip; if not:
   - discover all `/dev/

[2020-05-23 01:21] nerddelphi commented on #65
@andyzhangx Excellent job! Is there any way to do with SCSI interface, once GKE only support NVMe in alpha clusters (beta and GA are SCSI)?

Thank you!

[2020-05-23 01:36] andyzhangx commented on #65
I am not aware of that. do you have the link about SCSI interface support? @nerddelphi

[2020-05-26 16:10] nerddelphi commented on #65
@andyzhangx I'm using localssd in my GKE nodes and I can confirm only SCSI interface is available on GKE beta/ga clusters (once there're only /dev/sdX disk on node, pointing o localssds).

NVMe are available in alpha -> https://cloud.google.com/sdk/gcloud/reference/alpha/container/node-pools/create#--local-ssd-volumes

@nyurik said the same in this thread as well -> https://github.com/kubernetes-s

[2020-05-26 20:45] msau42 commented on #65
@nerddelphi I believe the namePattern could be used to support matching scsi disks, although I think there will be challenges to distinguish a SCSI local SSD from a SCSI PD if you match on /dev/sd*.  I believe the same issue happens for nvme as well.

@andyzhangx regarding extending the provisioner, can we make the setup action scriptable, similar to what we do for cleaning block devices? This wil

[2020-05-27 03:42] cofyc opened #194 "3.0.0 enhancements"
This is a track issue for the next major release 3.0.0. Backward incompatible enhancements can be included.

Proposals:

- Local cloud controller: https://docs.google.com/document/d/1SA9epEwA3jPwibRV0ccQwJ2UfZXoeUYKyNxNegt0vn4/edit?usp=drive_web&ouid=101493314076334303906
  -  Used to recover workloads using local PVs from data loss in the cloud
- Versioned component config API

[2020-05-28 04:29] willzhang opened #195 "helm template \ --set .Values.classes.hostDir"
how can i set the values ，it not work
[code]

[2020-05-29 05:00] zedtux commented on #185
I'm also facing this issue.

I've deployed a Kubernetes 1.15.12 cluster with 3 worker nodes. I didn't set any feature gate as **all seem to me** to be already in Kubernetes and enabled.

I've create a `/mnt/fast-disks/` folder where I've mounted my GoCryptFs folder:

[code]

Here is the log of one of the provisioner:

[code]

I had a look at the source code, and as I'm very new to Go, I wasn't abl

[2020-06-01 01:22] cofyc commented on #185
discovery folder `/mnt/fast-disks` must be mounted into the provisioner pod and volumes inside must be mount points (if the volume is not a block device or mounted filesystem, you must bind mount itself, e.g. `sudo mount --bind /mnt/fask-disks/sdata /mnt/fask-disks/sdata`).

it's great you got it working!

[2020-06-01 05:45] zedtux commented on #185
Thank you @cofyc for your comment, but, if I remember well (I will double check) it worked without any extra `mount` command.

`gocryptfs` creates a mount point (the `mount` command shows it) so I guess this why it worked 😉

[2020-06-03 10:20] vistamin opened #197 "use helm template generate syntax error provisioner yaml file"
**What happened**: the provisioner pod can not running

**What you expected to happen**: use example provisioner file is ok, but use custom provisioner file failed to run pods.

**How to reproduce it**:

1. helm template ./helm/provisioner --values custom-values.yaml > deployment/kubernetes/provisioner_generated.yaml
2. the namePattern in ConfigMap is \*, but you should use double quote to enclose

[2020-06-03 10:41] cofyc commented on #197
Thanks for reporting this! can you send a PR to fix it?

[2020-06-08 09:52] zhlhahaha commented on #153
Hi @cofyc
as cleanup_binfmt_misc() has removed from prow bootstrap.
https://github.com/kubernetes/test-infra/pull/14768

Can we re-enable cross build for multi-platform image?

[2020-06-09 10:02] sergeyshaykhullin opened #199 "Add helm chart repo"
**Is your feature request related to a problem? Please describe.**
Add helm chart repo for provisioner, because manual installation with pulling git repo is not comfortable =/

**Describe the solution you'd like in detail**
helm repo add kubernetes-sigs https://whatever
https://helm.sh/docs/topics/chart_repository/

[2020-06-10 06:28] cofyc commented on #153
hi, @msau42 is it ready to add a cloud build configuration to support multi-arch images now?

[2020-06-12 10:52] cofyc commented on #199
This is useful. @msau42 Does k8s-infra provide a way to publish helm charts?

[2020-06-12 10:52] cofyc commented on #197
closed via https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/198

[2020-06-12 10:52] #197 closed

[2020-06-12 10:53] cofyc commented on #195
can you paste the error output?

[2020-06-12 10:56] cofyc commented on #153
/assign
Great!

[2020-06-12 16:18] msau42 commented on #199
I'm unsure. Can you check in #wg-k8s-infra?

[2020-06-14 21:35] sergeyshaykhullin commented on #199
@cofyc Any updates? Can i help with something?

[2020-06-15 01:33] cofyc commented on #199
I just asked in #wg-k8s-infra. If there is a way to host helm charts, we can publish it.

[2020-06-15 08:20] cofyc commented on #199
currently, our infra does not host the helm charts. the [helm central repo is deprecated](https://github.com/helm/charts#deprecation-timeline),  I'm not sure where we can publish our charts.

[2020-06-15 09:13] #156 closed

[2020-06-15 14:23] sergeyshaykhullin commented on #199
Yes, helm/charts is deprecated, i added link to guide how to add custom helm chart repo https://helm.sh/docs/topics/chart_repository/

[2020-06-17 12:13] cofyc commented on #199
maybe the GitHub pages is an option for us

[2020-06-19 02:39] rbtcollins opened #201 "Dealing with pvs and pvcs on deleted nodes"
When a node is deleted - either due to failure or due to an autoscale event removing it, local static volumes on it become permanently destroyed. But the metadata for those pv's, and for any pvc's referencing them, are not.

This is frustrating, because we have to take care not to reuse node names, yet in AKS, node names are deterministic and reused commonly, as you can see from these sample names

[2020-06-19 02:50] rbtcollins commented on #201
Basically I never want to write thing again:
[code]

[2020-06-19 03:46] cofyc opened #202 "Recover workloads using local PVs from data loss in the cloud"
This is the track issue for some related problems in the cloud when the node is permanently deleted.

I'm thinking about writing a cloud controller to automate the recovery process. Here is the proposal: https://docs.google.com/document/d/1SA9epEwA3jPwibRV0ccQwJ2UfZXoeUYKyNxNegt0vn4

related issues:

- https://github.com/kubernetes/kubernetes/issues/78756
- https://github.com/kubernetes-sigs/sig-s

[2020-06-19 03:55] cofyc commented on #201
yes, this is a general issue.

I agree a cloud controller is required. I've written up a proposal: https://docs.google.com/document/d/1SA9epEwA3jPwibRV0ccQwJ2UfZXoeUYKyNxNegt0vn4 for this.

[2020-06-19 20:13] sergeyshaykhullin commented on #199
You can try https://github.com/marketplace/actions/helm-chart-releaser with github actions

[2020-06-19 21:58] #158 closed

[2020-06-20 16:23] cofyc commented on #199
Thanks!

On Sat, Jun 20, 2020 at 4:13 AM Sergey Shaykhullin <notifications@github.com>
wrote:

--
Yecheng Fu (Cofyc)
https://yechengfu.com

[2020-06-21 02:35] andyzhangx commented on #175
@kapil-ms pls try with this solution on AKS:
https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

And you could run following command to discover (`/dev/sdb1`) disk
[code]

[2020-06-22 02:25] cofyc commented on #143
/remove-lifecycle stale

[2020-06-22 08:49] AdheipSingh opened #203 "Helm Chart: Support Affintiy"
- Currently helm chart does not support affintity.

- Daemonset in values should support affinity which can be added to the deamonset spec.

[2020-06-22 10:42] rbtcollins commented on #201
Thank you for the link, I've added a thought to the document there. Is a prototype under way?

[2020-06-23 03:13] #203 closed

[2020-06-26 03:16] TBBle commented on #35
This issue is replaced by #199, due to deprecation of the Helm Stable/Incubator charts repo.

[2020-07-09 19:44] #167 closed

[2020-07-09 22:02] #153 closed

[2020-07-13 11:59] cofyc commented on #166
we can use [kubetest2](https://github.com/kubernetes/test-infra/tree/master/kubetest2)

- [ ] support boskos in `kubetest2-gke`
- [ ] update our e2e scripts to use `kubetest2 gke`

[2020-07-18 07:01] #172 closed

[2020-07-21 01:55] cofyc commented on #166
closed via https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/207

[2020-07-21 01:55] #166 closed

[2020-07-21 03:07] #175 closed

[2020-07-21 09:15] cofyc commented on #181
/remove-lifecycle stale
/lifecycle fronzen

[2020-07-21 09:15] cofyc commented on #181
/lifecycle frozen

[2020-07-21 12:25] johny-mnemonic opened #209 "Provisioner is trying to recreate existing volumes"
**What happened**:
Provisioner is creating volumes for us just fine, but after using it for some time, we noticed, that it's logs are full of following kind of messages:
`I0720 20:23:35.289358       1 discovery.go:384] Found new volume at host path "/mnt/disks/minio_pv-0" with capacity 5388179521536, creating Local PV "local-pv-e24d9ea6", required volumeMode "Filesystem"
I0720 20:23:35.294675

[2020-07-21 12:30] cofyc commented on #209
Have you recreated the node object?

[2020-07-21 12:36] cofyc commented on #209
if you changed the node UID (e.g. recreating the node object),  provisioner running on this node will use a new provisioner name (by default, provisioner name is `local-volume-provisioner-<node-name>-<node-uid>`) and try to discover local volumes using this new name again.

The creation will fail because the name of the PV exists.

[2020-07-22 09:10] johny-mnemonic commented on #209
Yep, as we have Kubernetes in cloud, we do redeploy the nodes quite often, which includes deleting the node definition and then spinning up the new node. Some of the nodes do have persistent disks, so the volumes are kept intact.

What do you recommend in this case? Should we also drop PVC and PV definition while deleting the node and then let it create the volumes again?

[2020-07-23 01:45] cofyc commented on #209
You can set `useNodeNameOnly` to `true` in the configuration. See https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/provisioner.md#configuration

Then, the UID will not be used as part of the provisioner name.

Note that, after changing this configuration, you must update the existing PVs by removing the UID part from the `pv.kubernetes.io/provisioned-by` ann

[2020-07-24 12:56] johny-mnemonic commented on #209
Thanks! It seems to be working fine.
I have one last question though: Is it possible to fix/edit already existing volume definitions, or do we need to re-create all volumes with the new settings active?

[2020-07-24 12:56] #209 closed

[2020-07-24 13:26] cofyc commented on #209
sorry, I forgot to tell you that existing provisioner pods must be restarted to load the new configuration (delete them and with for the damonset controller to recreate)

(it's the limitation of the current provisioner, may be resolved in 3.0.0 https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/12)

[2020-07-24 14:22] johny-mnemonic commented on #209
@cofyc Yeah, I just wanted to write I have found that it doesn't reload the config map :-D
Thanks. I have subscribed that linked issue.

[2020-08-25 06:52] amrmahdi opened #216 "Reducing local-volume-provisioner log verbosity"
**Is your feature request related to a problem?/Why is this needed**

I'm using container image `mcr.microsoft.com/k8s/local-volume-provisioner:v2.3.5-alpha1` and it is producing a lot of info logs that should probably be debug/trace. See attached logs in just a few minutes.

I'd like to be able to lower the verbosity of this container.

[container.log](https://github.com/kubernetes-sigs/sig-stora

[2020-08-25 06:54] andyzhangx commented on #216
@cofyc do you know how to set the log level in this local volume provisioner? thanks.

[2020-08-26 06:12] cofyc commented on #194
/remove-lifecycle stale
/lifecycle frozen

[2020-09-07 07:54] #180 closed

[2020-09-10 06:32] FrelDX opened #217 "pod Pending"
I follow the document https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/getting-started.md#option -1-using-the-local-volume-static-provider creates a local kubenrets cluster for testing. SC is referenced in PVC and pod is always pending

[root@kubernetes01 tmp]# kubectl describe pod redis1-5c646fd686-79p7r
Name:           redis1-5c646fd686-79p7r
Namespace:

[2020-09-10 06:33] FrelDX commented on #217
this is my yaml file
[root@kubernetes01 tmp]# cat redis/redis.yaml
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: redis1
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeMode: Block
  storageClassName: fast-disks
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: red

[2020-09-10 06:34] FrelDX commented on #217
[root@kubernetes01 tmp]# kubectl get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM                          STORAGECLASS   REASON   AGE
local-pv-32c75bfd                          3910Mi     RWO            Delete           Available                                  fast-disks              10m
local-pv-3e981376                          391

[2020-09-15 01:37] msau42 commented on #201
As an intermediate step, would it help if we put an OwnerRef on the PV pointing to the Node object? PVC protection will prevent the PV from actually being deleted, but if a user comes in a deletes the PVC, then the PV object will get cleaned up instead of taking up cycles from the PV controller (which every few seconds goes through all PVs in the cluster).

[2020-09-23 05:00] maybe-sybr commented on #199
@sergeyshaykhullin I noticed that you closed this, has the chart actually been published somewhere since @cofyc 's last comment?

[2020-09-24 06:45] maybe-sybr commented on #199
For the record, I worked around this using the helm-git plugin [0] like so:
[code]
[0] https://github.com/aslafy-z/helm-git

[2020-09-24 18:16] Bessonov commented on #35
/remove-lifecycle stale

[2020-09-25 08:56] cofyc opened #223 "release 2.4.0"

[2020-09-28 09:17] Bessonov commented on #185
/remove-lifecycle stale

[2020-09-28 09:18] Bessonov commented on #202
/remove-lifecycle stale

[2020-09-28 09:21] Bessonov commented on #143
/remove-lifecycle stale

[2020-09-28 09:22] Bessonov commented on #65
/remove-lifecycle rotte

[2020-10-01 07:02] yanivroz opened #224 "PV size doesn't exactly match the actual disk size"
**What happened**:
local-static-provisioner generate a 975MiB capacity PV from a 1GiB disk (1024^3)

**What you expected to happen**:
local-static-provisioner generate a 1GiB capacity PV from a 1GiB disk (1024^3)

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"1

[2020-10-01 07:59] yanivroz commented on #224
found the issue
Once is I created a symbolic link under discovery directory to the block device on the node (instead of mounting a filesystem like previously) I got the exact disk size.

[2020-10-01 07:59] #224 closed

[2020-10-14 15:10] baurmatt commented on #51
We would still be interested in this functionality! :)

/reopen
/remove-lifecycle rotten

[2020-10-15 02:07] cofyc commented on #51
dynamic provisioning will not be done in this project. You can track the progress of the storage capacity tracking feature: https://github.com/kubernetes/enhancements/issues/1472

[2020-10-17 10:32] #173 closed

[2020-10-23 03:20] kqzh opened #225 "Local volumes bound，but there is no container mount content on the disk"
Hello,

I encountered a very magical problem in this issue.

When I created some pv through provisioner, created pvc and pods, it bound successfully.
<img width="1025" alt="a" src="https://user-images.githubusercontent.com/35095889/96951281-b5e7c680-151e-11eb-9be9-01f9838e55ef.png">

Then I checked the mounted disk directory, nothing here. I make sure the path of each step is correct, and compared

[2020-10-23 05:54] #225 closed

[2020-10-27 19:24] skaegi commented on #223
Hi @cofyc, is there a plan to do a new release. It would be good to switch off of using canary ;)

Are there any issues you feel need to be resolved before doing a release?

[2020-10-28 03:37] skaegi opened #226 "Provisioner Configuration to create both Block and Filesystem PVs for one StorageClass"
Currently the PVs created per storageClassMap entry have to decide which `volumeMode` to use. It would be good if the provisioner configuration provided a way to create both Block and Filesystem PVs for the same StorageClass.

[2020-10-28 04:07] skaegi commented on #226
Perhaps if there was a `storageClassMap.[storageClassName].setPVStorageClass` field I could then do something like...
[code]

[2020-10-29 03:59] f7753 opened #227 "Could this sig support multiple mountPath?"
My generated config file is as below:
[code]

when I use kubectl to deploy this daemonset to the  cluster, it occurred to:
[code]

Are there any method to support multi-path of disks?
Thanks a lot.

[2020-11-01 10:05] f7753 commented on #227
Or should I create one pv for each disk mount point?

[2020-11-09 12:33] #195 closed

[2020-11-11 05:29] yangvipguang opened #228 "allowVolumeExpansion support"
Does  LocalPV with    sig-storage-local-static-provisioner support   allowVolumeExpansion？

[2020-11-13 12:09] f7753 commented on #227
Sorry, I miss-understood the usage

[2020-11-13 12:09] #227 closed

[2020-11-13 12:10] f7753 commented on #227
Can simply mount all disks in one dir, or write your own mapping rules.

[2020-11-17 09:26] tomsucho commented on #217
looks like you have PVs smaller than what the PVC needs i.e.:
[code]
so that's around 4G while the PVC requests 5Gi?

[2020-12-01 03:58] msau42 commented on #216
Most of the code is calling `klog.Infof` without any level. I think we'll need to add some levels to the messages

/remove-lifecycle stale
/help

[2020-12-01 04:03] msau42 commented on #228
Unfortunately not. Because we don't actually provision or own the disks, we don't have the ability to know how to resize it.

[2020-12-01 04:05] msau42 commented on #226
Maybe it's possible to configure multiple discovery directories per storage class, and each discovery directory can support a different volume mode.

[2020-12-02 04:34] #223 closed

[2020-12-02 04:53] #228 closed

[2020-12-02 06:21] cofyc commented on #223
@skaegi sorry for the delay, v2.4.0 is ready now: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/v2.4.0

[2020-12-14 06:53] rbtcollins commented on #201
/remove-lifecycle stale

On Mon, 14 Dec 2020, 03:03 fejta-bot, <notifications@github.com> wrote:

[2020-12-23 19:22] Bessonov commented on #35
/remove-lifecycle stale

[2020-12-23 19:22] Bessonov commented on #35
Please, remove the stale bot. I hate the messages from stale bot. I hate to notify all subscribers with /remove-lifecycle stale messages. Stale bot is a good way to show your disrespect to the community.

[2020-12-24 10:56] TBBle commented on #35
Note that the Chart repository in the original request has been deprecated, so somewhere else will have to be found to host such a Helm chart. See #199 for details, although that was closed for some reason.

[2020-12-27 10:25] Bessonov commented on #185
/remove-lifecycle stale

[2020-12-27 10:25] Bessonov commented on #143
/remove-lifecycle stale

[2020-12-27 10:25] Bessonov commented on #202
/remove-lifecycle stale

[2020-12-28 12:24] brainwang opened #232 "PV could not be back to Available"
**What happened**:
After used PV with PVC/POD, and then I removed POD/PVC, then I found the PV status is at 'Released'. The I check the daemonset logs, then I found the device is lost in log:
[code]

**What you expected to happen**:
PV should be recycled to Available, no error reported.

**How to reproduce it**:
* Values.yaml
[code]
* PVC and POD YAML
[code]

**Anything else we need to know?**:

*

[2021-01-18 16:59] #186 closed

[2021-01-28 09:25] Kartik494 opened #233 "Update Klog to V2"
**What happened**:

I have a query regarding dependency update of klog. This repo is using Klog v1 should we update this to use Klog latest version Klog v2 here? Could you let me know is there any dependency conflict while upgrading this to klog v2

**What you expected to happen**:

Update the Klog dependency to use V2 instead

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kube

[2021-01-28 09:27] Kartik494 commented on #233
Could you let me know if it is ok to update the dependency to klog v2. If this is valid i would like to work on this.
Thanks

/assign

[2021-01-28 13:13] cofyc commented on #233
sure, go ahead!

[2021-01-28 13:20] Kartik494 commented on #233
Thanks @cofyc for clarifying i am working on it and will raise a PR

[2021-02-05 12:19] hellogdc commented on #216
/assign

[2021-02-05 12:47] hellogdc commented on #216
@amrmahdi
hello, I have read your container.log, find that most of logs are "discovery.go:287] file(tty17) under(/dev) does not match pattern(nvme0n*)". Then i look at the code, find that it uses klog.Infof to  print log, looks like not reasonable. I will try to submmit a pr changing it to "klog.V(4).Infof".

[2021-02-07 03:09] #216 closed

[2021-02-17 13:37] ruckalvnet opened #237 "debian base image is outdated"
**What happened**:
Clair security scanner detects too many high vulnerabilities in the local-provisioner-storage image. It seams that the debian-base image used is outdated - https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/deployment/docker/Dockerfile ( k8s.gcr.io/debian-base-${ARCH}:v1.0.0 )

**What you expected to happen**:
No high vulnerabilities detected

**

[2021-02-18 04:12] #233 closed

[2021-02-20 06:13] hellogdc opened #239 "use container env to set log level value and listen-address of local-provisioner"
**Is your feature request related to a problem? Please describe.**

I hava found that I cannot specify the log level value and listen-address when using the docker image built from Makefile, which is not convenient.
I think it maybe better to use container env to set  log level value and listen-address, so i can modify my daemonset.yaml to adapt different environment.

**Describe the solution you'

[2021-02-20 06:14] hellogdc commented on #239
/assgin

[2021-02-20 06:14] hellogdc commented on #239
/assigne

[2021-02-20 06:15] hellogdc commented on #239
/assign

[2021-02-24 02:25] hellogdc commented on #239
use container command and args instead of env, thanks  @cofyc

[2021-02-24 02:25] #239 closed

[2021-03-03 02:10] cdenneen commented on #202
@cofyc any further work past the initial proposal?
/help
/kind feature

[2021-03-12 12:57] GururajM opened #243 "PVs not created after starting and the provisioner and pods that use local storage"
Hi,

I'm trying to use static provisioner to manage the volumes and have installed the provisioner in my Kubernetes cluster from the example values.yaml and baremetal-default-storage.yaml. I've 5 worker nodes in my cluster and I can see that the provisioner config has started 5 pods for each of my worker nodes. Now when I start my pods with storage class as "local-storage" and type "persistent-cla

[2021-03-14 14:55] cofyc commented on #201
/remove-lifecycle stale.
/lifecycle frozen

[2021-03-24 17:22] Bessonov commented on #35
/remove-lifecycle stale

[2021-03-27 15:04] Bessonov commented on #143
/remove-lifecycle stale

[2021-03-27 15:05] Bessonov commented on #185
/remove-lifecycle stale

[2021-04-09 14:21] viceice commented on #35
I can provide a pr which is using a workflow from [kubernetes-sigs/nfs-subdir-external-provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/blob/master/.github/workflows/helm-chart-release.yml)

Will you accept that?

[2021-04-12 04:13] cofyc commented on #35
@viceice welcome!

[2021-04-12 09:39] arianvp commented on #10
Now that the required logic in kubelet seems to have landed in 1.21; are there any concrete plans adding this to the static provisioner? https://kubernetes.io/blog/2021/04/08/kubernetes-1-21-release-announcement/#persistentvolume-health-monitor

[2021-04-12 19:57] cambierr commented on #232
up ?

[2021-04-14 08:10] arianvp commented on #202
Wouldn't it already be enough as a first approximation to simply respect `--pod-eviction-timeout` as pased to `kube-controller-manager` ?

Just like pods get evicted after `--pod-eviction-timeout` after a node goes to `Ready=Unknown` or `Ready=False`, we can evict the `PVC` if the node is down that long.

If that timeout is good enough to try and evict the pod; then it's good enough to try and evi

[2021-04-16 11:27] #217 closed

[2021-04-21 13:29] arianvp commented on #194
I was wondering if anybody has made any progress yet on the local cloud controller? It would be a great feature to have to not have to delete PVs manually when nodes get replaced

[2021-04-30 05:06] #226 closed

[2021-06-04 16:15] arianvp opened #253 "Cleanup Job doesn't have the same tolerations as the daemonset"
**What happened**:

Disk didn't get cleaned up due to the `Job` spawned not tolerating the node on which `local-volume-provisioner ` runs:
[code]

**What you expected to happen**:
The `Job` tolerates the same taints as the daemonset

**How to reproduce it**:
[code]

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g.

[2021-06-05 08:24] arianvp commented on #253
It's not just tolerations.  The Cleanup Job should basically have all the same scheduling specs as the Pod from which it's spawned (NodeSelector, Affinities, tolerations) otherwise the job might fail to run

[2021-06-07 17:09] oomichi commented on #181
/cc @oomichi

[2021-06-11 20:58] #232 closed

[2021-06-25 20:32] Bessonov commented on #185
/remove-lifecycle stale

[2021-06-25 20:35] Bessonov commented on #143
/remove-lifecycle stale

[2021-07-02 08:48] rohan47 opened #255 "Adding callbacks to be executed before deleting released PVs"
**Is your feature request related to a problem?/Why is this needed**

Local Static Provisioner doesn't have a callback feature and doesn't clean up the symlinks.

**Describe the solution you'd like in detail**

We can make the [DeletePVs()](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/pkg/deleter/deleter.go#L70) and [deletePV()](https://github.com/kubernetes-

[2021-07-02 08:51] rohan47 commented on #255
cc @gnufied @jsafrane @rohantmp @sp98

[2021-07-13 17:12] Bessonov commented on #202
/remove-lifecycle stale

[2021-07-17 15:10] #237 closed

[2021-07-21 23:43] seanlowcy77 commented on #243
/remove-lifecycle rotten

[2021-07-30 09:11] St0rmingBr4in opened #259 "Specify labelsForPV inside entries in the storageClassMap"
**Is your feature request related to a problem?/Why is this needed**

Currently the labelsForPV applies to all PVs provisioned by an instance of the local static provisioner.
I would like to be able to add different labels to PVs provisioned via the local static provisioner inside a same StorageClass without having to run multiple instances of the local static provisioner.

**Describe the solution

[2021-08-06 09:01] dabaooline opened #260 "Is it necessary to custom the period of discovery local volume ?"
**Is your feature request related to a problem?/Why is this needed**
For some usage sence, we may need slow/fast frequence to  discover block/mountPoint.

**Describe the solution you'd like in detail**
Add a flag " --discovery-period "

For detail: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/pkg/controller/controller.go#L115

[2021-08-06 09:07] dabaooline commented on #260
Hi @cofyc What is your opinion?

[2021-08-06 09:09] cofyc commented on #260
it makes sense, can you add a config for this?

[2021-08-06 09:16] dabaooline commented on #260
ok,my pleasure.

[2021-08-09 17:26] vaskozl commented on #199
@sergeyshaykhullin  Can you open this issue again please?

[2021-08-09 17:46] sergeyshaykhullin commented on #199
@vaskozl 🖐️

[2021-08-10 08:51] rohan47 opened #262 "BlockCleanerCommand doesn't act on filesystem PVs"
`BlockCleanerCommand` doesn't act on filesystem PVs

[code]

[code]
Currently, for filesystem PVs, only the contents of the filesystem are cleaned.

If `BlockCleanerCommand` acts on filesystem PVs as well then we can use it via LSO to do symlink cleanup as well.

[2021-08-10 08:53] rohan47 commented on #262
cc @gnufied @jsafrane  @rohantmp @sp98

[2021-08-11 05:39] rohantmp commented on #262
I think this would require a flag to turn it on in the provisioner config as changing the behavior wholesale is not backwards compatible.

[2021-08-20 21:13] AdheipSingh opened #263 "CA for local-ssd issue"
-  CA does not support local-ssd.
- Is there any workaround to trigger CA to add a node to nodepools ?
- Any project / or KEP in community which is working on this ?

[2021-08-30 05:13] cofyc commented on #262
@rohan47 can you describe the use case?

[2021-09-01 03:17] msau42 commented on #259
/kind feature
/help

Makes sense to me

[2021-09-01 03:20] msau42 commented on #253
The cleanup job should run on the same node where the volume resides. I'm not sure if it needs to match node selector and affinity. I agree that it may need the same tolerations.

/kind bug
/help

[2021-09-01 03:23] msau42 commented on #243
This project is not a dynamic provisioner. What it does is discover mount points/disks under the configured directories and creates PVs for each mount point/disk.

So you need to do some pre-work and prepare the disks and mount/symlink them into the directory. See https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/operations.md#prepare-and-set-up-local-volumes

[2021-09-01 03:26] msau42 commented on #185
@Bessonov are you experiencing problems? Can you post details about what's not working for you?

[2021-09-01 03:30] msau42 commented on #199
This looks like a duplicate of #35
/close

[2021-09-01 03:30] #199 closed

[2021-09-01 03:37] msau42 commented on #65
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-01 03:37] msau42 commented on #65
/kind feature

[2021-09-01 15:48] Bessonov commented on #185
@msau42 sorry, I don't use this provisioner anymore. But may be in the future again.

[2021-09-01 18:34] msau42 commented on #185
Thanks for the update. I'm going to close this issue as it seems like there's no current issues. A new bug can be opened in the future.
/close

[2021-09-01 18:34] #185 closed

[2021-09-09 09:46] rohan47 commented on #262
@cofyc we want to clean up the symlinks when the Localvolume or localvolumeset object are deleted. We want to specify an array of commands to `BlockCleanerCommand` and let the second command be the removal of symlink the when LVset/LV objects have deletion timestamp.

[2021-09-24 10:18] cofyc commented on #262
add a `FilesystemCleanerCommand`?

[2021-09-24 10:36] rohan47 commented on #262
Sounds good to add a `FilesystemCleanerCommand`

[2021-10-11 21:57] mauriciopoppe opened #266 "Add support for multi Windows distro builds"
There are some implementation ideas from these two projects:

- [sig-storage's csi-release-tools](https://github.com/kubernetes-csi/csi-release-tools/issues/145)
- [gce persistent disk CSI driver' Dockerfile.Windows](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/Dockerfile.Windows) - Uses csi-release-tools but it has its own way to build Windows images

/kin

[2021-10-11 22:00] mauriciopoppe opened #267 "Add DaemonSet that works in Windows nodes"
Clone https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/provisioner/templates/daemonset.yaml and:

- modify it to target Windows nodes only
- add the mounts for the CSI Proxy named pipes

[2021-10-11 22:07] mauriciopoppe opened #268 "Review the device cleaning code to analyze if it needs to run in Windows nodes"
In the kubernetes example https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/1cc3374d7a46c3367014f33851b0403771b89517/deployment/kubernetes/example/default_example_provisioner_generated.yaml#L4-L19 I see that configuration is provided through a `ConfigMap`, this is later mounted in the application so that it knows how to clean devices (`Dockerfile` also embeds the cleanin

[2021-10-11 23:05] mauriciopoppe opened #269 "Implement methods to get disk capacity in Windows"
The `util/volume_util.go` interface defines `GetBlockCapacityByte` and it's implemented in Linux only, this is a good candidate for CSI Proxy's `GetVolumeStats`

https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/1cc3374d7a46c3367014f33851b0403771b89517/pkg/util/volume_util_linux.go#L31

[2021-10-11 23:05] mauriciopoppe opened #270 "Support to run in Windows nodes"
Umbrella issue for the items to support running this project in Windows nodes:

- [x] https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/266
- [x] https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/267
- [x] https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/271
- [x] https://github.com/kubernetes-sigs/sig-storage-

[2021-10-12 19:04] mauriciopoppe opened #271 "Include the CSI Proxy library"

[2021-10-28 22:26] mauriciopoppe opened #277 "Run E2E tests in Windows"
After enabling the multidistro build we have to run the E2E tests in Windows nodes, the plan is:

- Enable OpenSSH in the Windows nodes, luckily the GKE Windows team made a lot of effort setting it up in a GCE Kubernetes cluster that has Windows nodes, we don't have to do anything here. Unfortunately this isn't set up in a GKE cluster by default so we'll need to test in a GCE cluster.
- Enable Hyp

[2021-10-28 22:28] mauriciopoppe opened #278 "Update docs with a section about Windows support"
Once the implementation and the E2E tests work in Windows we have to update the docs showing what needs to be done by the user, there's a great guide already here: https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd#run-local-volume-static-provisioner.

We only support partitions in Windows

[2021-11-03 20:02] #266 closed

[2021-11-08 10:32] #260 closed

[2021-11-18 22:23] #263 closed

[2021-11-25 02:40] #35 closed

[2021-11-25 19:22] Bessonov commented on #202
/remove-lifecycle stale

[2021-11-29 10:47] #255 closed

[2021-11-30 10:39] St0rmingBr4in commented on #259
I will try to work on implementing that.

[2021-11-30 11:34] St0rmingBr4in commented on #259
I think adding the associated storageClass name inside the MountConfig struct would the best way of doing this.
This would be the most retro compatible way of implementing this I think.
Basically we could have:

[code]

[2021-12-02 18:33] mauriciopoppe commented on #270
/reopen

[2021-12-02 18:34] mauriciopoppe commented on #267
Added in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/275

[2021-12-02 18:34] #267 closed

[2021-12-02 18:34] #268 closed

[2021-12-05 09:35] andyzhangx opened #282 "k8s.gcr.io/sig-storage/local-volume-provisioner:v2.5.1 is missing"
**What happened**:
where is the release image v2.5.1 published?
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/provisioner-2.5.1

could not find it with `k8s.gcr.io/sig-storage/local-volume-provisioner:v2.5.1`

cc @cofyc

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Ku

[2021-12-05 09:36] andyzhangx commented on #282
btw, it's better mention the major feature & bug fixes between v2.4.0 and v2.5.1 in release notes: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/provisioner-2.5.1

[2021-12-11 00:30] #269 closed

[2021-12-11 00:30] #271 closed

[2021-12-16 10:13] liyang516 opened #284 "Pod unable to attach local pv, pv path does not exist"
I want to use a whole disk as a filesystem pv , but when I apply a pod, it report "local pv path does not exsit"
Here is my operation process：
1、create discovering directory
mkdir -p /mnt/disks

2、Use a whole disk as a filesystem PV
mkfs.ext4 /dev/sdc
sudo DISK_UUID=$(sudo blkid -s UUID -o value /dev/sdc)
sudo mkdir /mnt/disks/$DISK_UUID
![1639649595(1)](https://user-images.githubusercontent.com/3

[2021-12-16 10:45] liyang516 commented on #284
Can someone tell me what the problem is

[2021-12-21 06:37] #284 closed

[2021-12-21 06:37] liyang516 commented on #284
resolve

[2022-01-19 08:19] cornel-masson commented on #107
@cofyc I'm using Rancher Desktop on Windows 10. In which config file must I look for services.kubelet.extra_binds? Or is there another way to configure this in Rancher Desktop?

[2022-01-20 07:02] andyzhangx commented on #282
@cofyc could you rename or add a new tag(`v2.5.1`) identical to https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/provisioner-2.5.1, we cannot use tag `provisioner-2.5.1`, thanks.

[2022-01-20 07:09] cofyc commented on #282
sorry, I'll fix it today.

[2022-01-20 07:12] andyzhangx commented on #282
the release triggered by github action sucks, I think it's better click release by yourself, it could auto generate detailed PR changes between different releases.

[2022-01-21 01:36] cofyc commented on #282
`provisioner-2.6.0-alpha.0` and `provisioner-2.5.1` tags are deleted.

[2022-01-21 22:51] Bessonov commented on #143
/remove-lifecycle stale

[2022-01-21 22:52] Bessonov commented on #143
/lifecycle frozen

[2022-01-29 04:10] #243 closed

[2022-01-29 04:10] #253 closed

[2022-01-29 12:12] #259 closed

[2022-02-09 07:34] andyzhangx commented on #282
@cofyc thanks, when shall we cut v2.5.0 release?

[2022-02-15 14:54] kanor1306 opened #288 "Allow autoscaling based on local static provisioned volumes"
**Is your feature request related to a problem? Please describe.**
To summarise: in an autoscaling scenario the autoscaler cannot scale based in volumes provisioned by the local static provisioner, as the usage of `provisioner: "kubernetes.io/no-provisioner"` prevents the autoscaling from been triggered due to how the [scheduler binder](https://github.com/kubernetes/kubernetes/blob/473af0b8d1951b5

[2022-02-23 20:23] Bessonov commented on #202
/remove-lifecycle stale

[2022-03-03 14:09] jamurtag opened #289 "Complete task to publish Helm chart in GitHub Pages"
**Is your feature request related to a problem?/Why is this needed**
[PR 280](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/280) was merged to support publication of the Helm chart via GitHub Pages, however it looks like there was a workflow error and this was not fully implemented. This issue is a request to complete that work.

**Describe the solution you'd like in

[2022-03-08 12:06] stevehipwell commented on #289
This looks to be because prow hasn't been configured to not automatically protect the `gh-pages` branch; we had this issue in a number of other sigs projects. I'll open a PR in [kubernetes/test-infra](https://github.com/kubernetes/test-infra) to fix this; once that is merged a maintainer will want to clear the `gh-pages` branch and make sure it's unprotected before doing a patch release to publish

[2022-03-17 06:38] mauriciopoppe commented on #270
/remove-lifecycle stale

[2022-03-18 14:10] stevehipwell opened #291 "No releases since December 2020"
**What happened**:
There have been no releases since December 2020 despite there being a number of commits since then. Is this project still maintained and are you expecting to release these changes at any point soon?

**What you expected to happen**:
n/a

**How to reproduce it**:
n/a

**Anything else we need to know?**:
n/a

**Environment**:
n/a

[2022-03-18 18:19] mauriciopoppe commented on #291
I've been working on adding Windows support in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/270, I'm not sure if @cofyc has plans for a release before this feature is complete but after it's complete I'll work on a new release in 2022Q2

[2022-03-22 10:48] stevehipwell commented on #291
@mauriciopoppe @cofyc could you take a look at #289 and follow up on the attached PR to fix your `gh-pages` issue?

[2022-03-23 21:48] mauriciopoppe opened #293 "E2E tests are no longer passing due to an error on the E2E setup in k/k/test/e2e/framework"
**What happened**:

I've added a few changes in the e2e tests related with RBAC, the e2e tests are failing while creating the test namespace, I've run the e2e job in PRs where the job was passing successfully but now they're all failing.

These PRs had successful e2e test runs:
- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/265
- https://github.com/kubernetes-sigs/s

[2022-03-23 22:20] mauriciopoppe commented on #293
It looks like as part of the namespace creation we should have a default ServiceAccount on it that's not created and that's why it's timing out.

There's an ongoing issue in upstream kubernetes https://github.com/kubernetes/kubernetes/issues/108307#issuecomment-1074394385

[2022-03-23 22:46] mauriciopoppe commented on #293
Found out the issue is in our version of kubernetes which we use to do the e2e framework setup, we were using v1.22 which is no longer compatible with clusters created with 1.24

[2022-03-24 02:16] #293 closed

[2022-03-28 17:39] mauriciopoppe commented on #277
/remove-lifecycle rotten

[2022-03-28 17:40] mauriciopoppe commented on #291
I added /ok-to-test to the [test-infra PR](https://github.com/kubernetes/test-infra/pull/25547), unfortunately I don't have permissions to approve it

@cofyc I saw that there are release instructions in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/RELEASE.md but are missing info about the changes needed in the helm chart, what do you suggest to do for a relea

[2022-03-28 18:29] mauriciopoppe opened #296 "Update the release steps involved with the helm chart action"
**Is your feature request related to a problem?/Why is this needed**

/kind cleanup

Since the last release 2.4.0 [the helm chart github action was added](https://github.com/helm/chart-releaser-action), every time there's an update in the helm chart version in master it'll attempt to do an auto release of the chart to gh-pages, while having this functionality is nice it has drawbacks:

- The relea

[2022-03-28 18:31] mauriciopoppe opened #297 "The canary & post-submit jobs are failing in test-infra"
**What happened**:

In preparation for a new release I saw that the post submit jobs are failing in test infra:

- Canary job: https://testgrid.k8s.io/sig-storage-image-build#canary-sig-storage-local-static-provisioner-push-images
- Post submit job: https://testgrid.k8s.io/sig-storage-image-build#post-sig-storage-local-static-provisioner-push-images

[2022-03-28 21:32] mauriciopoppe opened #298 "blkdiscard.sh scripts fails with `BLKDISCARD ioctl failed: Operation not supported`"
/kind bug

**What happened**:
When calling `make test` under the hood it calls `deployment/docker/scripts/blkdiscard.sh` which fails with:

[code]

Did some debugging on the loop device, according to this answer https://unix.stackexchange.com/a/678215 we can invoke blkdiscard if discard granularity is greater than 0 which is not true for the loop device setup in the test:

[code]

**How to reprodu

[2022-03-28 21:41] mauriciopoppe commented on #298
I've checked the Prow tests and it runs successfully there, posting the logs just in case, I'm not sure what's different in my setup besides using loop4 instead of loop0.

[code]

[2022-03-28 21:41] #298 closed

[2022-03-28 23:37] mauriciopoppe commented on #297
I checked that we have 2 places where we're trying to run post-submit

- [sig-storage-local-static-provisioner](https://k8s-testgrid.appspot.com/sig-storage-local-static-provisioner)
  - the canary job is running fine: https://k8s-testgrid.appspot.com/sig-storage-local-static-provisioner#master-canary-build
  - the release job wasn't run in a long time, there are no logs or history for its latest

[2022-03-29 01:51] mauriciopoppe commented on #291
I read the [Chart releaser code](https://github.com/helm/chart-releaser-action/blob/62088055651dab7087de02051b5601b15e3772a0/cr.sh#L61-L82) and it wipes out the existing tags in the branch and does everything from scratch, this means that across releases only the latest chart will be visible which is a problem.

A few workarounds:

- Have many copies of the chart by version

[code]

- Ask sig-test

[2022-03-29 02:09] mauriciopoppe commented on #291
I misunderstood what the chart releaser Github action does, it's creating a Github release for the latest tag and hosting a Repository Index yaml file in gh-pages, it looks like we'd need to configure it so that it takes the Changelog from https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/300, I'm a little bit concerned about it being able to create a git tags automatica

[2022-03-29 06:27] stevehipwell commented on #291
@mauriciopoppe chart releaser is the idiomatic way to do this. I'd be happy to look at your CI to check out the pattern?

RE the changelog, you'd need a separate one for the chart as it's a separate release artifact.

I'd suggest having a look at the ExternalDNS repo as a good example of this workflow.

[2022-04-08 19:14] yibozhuang opened #302 "Consider supporting restart of the main sync loop on ConfigMap change without restarting container/recreating pod"
**Is your feature request related to a problem?/Why is this needed**

Currently [provisioner does not reload configuration automatically](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/upgrading.md#how-to-update) and a manual delete and recreate of the Pod is needed to pick up the updated configuration. This can lead to some inconvenience where the user ma

[2022-04-08 19:14] yibozhuang commented on #302
/assign

[2022-04-12 10:50] ox7a59 opened #303 "low performance of local storage on-premise"
### What happened?

Hello dear k8s developers!

[code]

As you can see from above, storage performance in virtual machine much better than this disk PVC.

So I have used [local-volume-provisioner](https://github.com/kubernetes-sigs/kubespray/blob/master/docs/kubernetes-apps/local_volume_provisioner.md) from Kubespray project.

### What did you expect to happen?

Approximately same storage performa

[2022-04-13 09:20] ox7a59 commented on #303
Problem with software, that was installed on bare-metal server.

[2022-04-13 09:20] #303 closed

[2022-04-21 16:17] mauriciopoppe opened #307 "canary-sig-storage-local-static-provisioner-push-images job is failing"
**What happened**:
The [canary-sig-storage-local-static-provisioner-push-images](https://k8s-testgrid.appspot.com/sig-storage-image-build#canary-sig-storage-local-static-provisioner-push-images) job is failing after 30m, it looks like it wasn't fixed in https://github.com/kubernetes/test-infra/pull/25804

[2022-04-21 16:21] mauriciopoppe commented on #278
/remove-lifecycle rotten

[2022-04-21 16:22] mauriciopoppe commented on #307
Realized we're already keeping track of this in https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/307

[2022-04-21 16:22] #307 closed

[2022-04-21 18:50] pohly commented on #293
@mauriciopoppe : I can into the same failure. But in my case, namespace creation seems to work reliably with Kubernetes 1.22 and only failed in one test with 1.19.

Can you explain what you meant with "we were using v1.22 which is no longer compatible with clusters created with 1.24" - what is no longer compatible with what, and why?

I assume you mean e2e.test from 1.24 is no longer compatible wi

[2022-04-21 19:09] mauriciopoppe commented on #293
@pohly If I remember correctly [our tests](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/hack/run-e2e.sh#L162) which were using k8s v1.22 were always failing during the test setup in a k8s cluster created from k/k/master (we always create a cluster from master for e2e tests) which at the time was 1.24-alpha, I forgot the details but the clues in https://github

[2022-05-10 09:53] raphaelpoumarede opened #319 "The local provisioner use hostPath behind the scene. Is it secure ?"
When looking closely at the code, I noticed that "hostPath" volume type was used (for example in this manifest : https://raw.githubusercontent.com/Azure/kubernetes-volume-drivers/master/local/local-pv-provisioner-nvmedisk.yaml).

The official Kubernetes [documentation ](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) discourages the usage of the  hostPath volume type because of the

[2022-05-10 12:56] andyzhangx commented on #319
this driver is based on hostPath and finally generates `local` type volume:
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/b5987962ca8c6f53415c4ad683ddea4cb274fec6/deployment/kubernetes/example/default_example_provisioner_generated.yaml#L60-L62

[2022-05-10 17:09] raphaelpoumarede commented on #319
Thank you Andy for your answer.
So it means that when using this local-pv-provisioner project code we are not exposed to the direct "hostPath" security risks mentioned in the Kubernetes official documentation, right?
thank you

[2022-05-11 04:34] andyzhangx commented on #319
@raphaelpoumarede local-pv-provisioner project are using `hostPath`

[2022-05-11 11:32] andyzhangx commented on #297
it's fixed now: https://k8s-testgrid.appspot.com/sig-storage-image-build#post-sig-storage-local-static-provisioner-push-images

[2022-05-11 11:32] #297 closed, assigned to nobody

[2022-05-11 16:39] mauriciopoppe commented on #319
@raphaelpoumarede I took some notes after discussing this item with our team:

- [These volumes](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/b5987962ca8c6f53415c4ad683ddea4cb274fec6/helm/generated_examples/gke.yaml#L151-L156) are the important ones, /dev might be marked as read only but /mnt/disks might need write permissions because we need to support cleaning the

[2022-05-20 11:03] kanor1306 commented on #288
/remove-lifecycle stale

[2022-05-25 12:34] Bessonov commented on #202
/remove-lifecycle stale

[2022-06-03 02:44] cobookman opened #324 "Host Local Volume Provisioner container in AWS ECR Public Gallery"
**Is your feature request related to a problem?/Why is this needed**

Downloading containers from GCR to EKS clusters will have end-users incur internet egress fees.

**Describe the solution you'd like in detail**

Have the CI/CD pipeline also upload the container to ECR Public GALLERY.

**Describe alternatives you've considered**
N/A

**Additional context**
https://aws.amazon.com/about-aws/whats-

[2022-06-03 17:59] mauriciopoppe commented on #324
Thanks for the feature request. There's an effort going on with the new url registry.k8s.io https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io) that should help with this problem, currently I don't think that the images of this repo are pushed to the sig-storage release GCR that's behind that URL but there's an effort going on to migrate this repo to use the

[2022-06-04 09:19] andyzhangx commented on #324
@cobookman would this PR(https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/311) solve the issue? This repo is already using `registry.k8s.io`

[2022-06-04 09:23] cobookman commented on #324
@andyzhangx believe it does. Thanks!

[2022-06-04 09:23] #324 closed

[2022-07-12 01:11] #262 closed

[2022-07-14 09:38] robertodirienzo opened #327 "PV missing"
First of all thanks for your job!

The problem is:   the provisioner does not create the PV.
I'm using GKE and I am working on 3 pools but I want to create the PVC only in the node belonging to a pool.

The template is:

[code]

the result is that the PV is not created.

Thanks for your help.

[2022-07-14 09:41] andyzhangx commented on #327
what's the driver logs on that node?

[2022-07-14 10:55] robertodirienzo commented on #327
Hello, thanks your help.
I am at my first experience with GKE and the logs from the kubernetes dashboard are many ... can you recommend a filter that can help the search?

thanks again

[2022-07-14 11:17] robertodirienzo commented on #327
There are no errors in the node logs

pod logs:
I0714 11:01:17.831638       1 common.go:344] StorageClass "local-storage" configured with MountDir "/mnt/disks/ssd0", HostDir "/mnt/disks/ssd0", VolumeMode "Filesystem", FsType "ext4", BlockCleanerCommand ["/scripts/shred.sh" "2"], NamePattern "*"
I0714 11:01:17.831691       1 main.go:63] Loaded configuration: {StorageClassConfig:map[local-storage:{H

[2022-07-14 17:25] mauriciopoppe commented on #327
There's an example here: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/generated_examples/development-gke.yaml

I think the issue might be on these lines:

[code]

Should it be `/mnt/disks`?

[2022-07-15 06:58] codelithic commented on #327
Ciao mauriciopoppe,
thanks for your suggestion but from the GKE guide it appears that the ssd disks are mounted in that path:
https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd#example_hostpath

and in the provisioner/values.yaml we can read:
Path on the host where local volumes of this storage class are mounted  under.
https://github.com/kubernetes-sigs/sig-storag

[2022-07-15 07:01] robertodirienzo commented on #327
Ciao mauriciopoppe,
thanks for your suggestion but from the GKE guide it appears that the ssd disks are mounted in that path:
https://cloud.google.com/kubernetes-engine/docs/how-to/persistent-volumes/local-ssd#example_hostpath

and in the provisioner/values.yaml we can read:
Path on the host where local volumes of this storage class are mounted under.
https://github.com/kubernetes-sigs/sig-storage

[2022-07-15 17:55] mauriciopoppe commented on #327
@robertodirienzo correct, the input to this library is the directory where the mount points are located e.g. `/mnt/disks`, under the hood the code will scan this directory and create PVs out of the mount points found here, so if there are two disks:

[code]

Then we should have 2 PVs. A misconfiguration would be to send `/mnt/disks/ssd0` because this directory might not have mount points.

[2022-07-20 07:16] AssafKatz3 opened #329 "Mismatch of documentation between operation and HELM chart"
Hi,
[Operations](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/tree/master/docs/operations.md) mention discovery directory but [helm](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/helm/README.md) documentation doesn't refer to it at all.
Therefore it isn't clear how should I configure the HELM chart for the case of [Sharing a disk fil

[2022-07-20 17:33] mauriciopoppe commented on #329
The setup is a 2 step process for the case "Sharing a disk filesystem by multiple filesystem PVs"

1. Do the setup described in [Sharing a disk filesystem by multiple filesystem PVs](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/operations.md#sharing-a-disk-filesystem-by-multiple-filesystem-pvs), this setup is typically done when the node is bootstrapped

[2022-07-27 06:46] ugur99 opened #330 "Missing Volume Metrics `kubelet_volume_stats_*`"
Hi, we are using local-volume-provisioner and we want to monitor the capacity of PV through `kubelet_volume_stats_*` metrics from kubelet.

Kubelet does not seem to export the metrics for PV created by this storage class. However metrics for the PV created by CSI backed storage classess are exposed.

I’m not sure whether this is a bug or expected behaviour.

Do you have any ideas about this issue?

[2022-08-05 06:12] andyzhangx commented on #327
close this issue since it should be resolved.

[2022-08-05 06:12] #327 closed

[2022-08-05 06:14] andyzhangx opened #331 "improve unit test coverage"
**Is your feature request related to a problem?/Why is this needed**

**Describe the solution you'd like in detail**

current 61% ut coverage is too small
https://coveralls.io/github/kubernetes-sigs/sig-storage-local-static-provisioner?branch=master

![image](https://user-images.githubusercontent.com/4178417/183013308-73329429-f4a5-4659-b35e-47a5bb841eb5.png)

**Describe alternatives you've consid

[2022-08-05 13:15] #289 closed

[2022-08-09 21:52] ugur99 commented on #330
Sorry for misunderstanding, as far as I realized, local-path-provisioner uses `hostPath` to provision PVs unlikely to the local-static-provisioner. So it explains why it does not have any metrics for PVs. I am closing this issue. Thanks for your interest.

[2022-08-09 21:52] #330 closed

[2022-08-12 14:05] andyzhangx opened #334 "fix CVE-2022-1996"
**What happened**:

need to fix `CVE-2022-1996` which requires `github.com/emicklei/go-restful v3.8.0`, it changes to `v3.8.0`, then there is `go mod tidy` error
[code]

[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kern

[2022-08-12 14:06] andyzhangx commented on #291
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/v2.5.0 is released last month.

[2022-08-12 14:06] #291 closed

[2022-08-12 14:06] andyzhangx commented on #282
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/releases/tag/v2.5.0

[2022-08-12 14:06] #282 closed

[2022-08-16 12:09] andyzhangx commented on #331
it's now 68%

[2022-08-23 02:28] chiraggadasc commented on #289
/remove-lifecycle rotten

[2022-08-23 02:28] chiraggadasc commented on #289
/reopen

[2022-08-24 11:17] Bessonov commented on #202
/remove-lifecycle stale

[2022-08-27 23:04] #296 closed

[2022-09-06 08:31] Kartik494 commented on #159
I would like to give a try on this.
/assign

[2022-09-08 10:00] florentio commented on #289
Hello.
This issue is still relevant. We would like to install this chart with terraform and not having it on a repo block this https://github.com/aws-ia/terraform-aws-eks-blueprints/pull/928

Thank you.

[2022-09-13 15:40] pierreozoux commented on #201
A maybe better scripts, depending on your needs:

[code]

[2022-09-20 15:33] kanor1306 commented on #288
/remove-lifecycle rotten

[2022-09-28 07:22] andyzhangx commented on #334
should be fixed by https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/335

[2022-09-28 07:22] #334 closed

[2022-10-08 17:58] #319 closed

[2022-10-10 11:21] whitepiratebaku opened #340 "kubelet_volume_stats* shows summed values"
We are planning to monitor components` stotage utilization but we see that kubelet_volume_stats* shows summed values accross PVCs , any workaround on that?

[2022-10-11 04:54] whitepiratebaku commented on #330
@ugur99 did you find workaround on this? for monitoring storage?  currently those kubelet_volume_stats* metrics exist for us but shows summed, general value. Like for all PVCs it shows total local disk metrics.

[2022-10-11 06:26] ugur99 commented on #330
Hi @whitepiratebaku, as a workaround I developed a [simple project](https://github.com/ugur99/local-path-provisioner-pv-metrics-exporter) (but it's kind of experimental, not sure about its a good practice) and it works except a few limitations.

[2022-10-11 07:20] whitepiratebaku commented on #330
Thank you @ugur99

[2022-10-12 09:37] whitepiratebaku commented on #330
@ugur99 I wonder does PVC storage requests matter? because I see that it on status it shows whole filesystem size as available. So if I give 10gb as request but filesystem has 50GB, then real limit of PVC is 50?

[2022-10-12 11:37] ugur99 commented on #330
Yes, you're right @whitepiratebaku, actually in [best-practices documentation](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/best-practices.md) separate partitions per volume are recommended for capacity isolation.

[2022-10-18 08:43] Kartik494 commented on #159
@cofyc raised a PR here https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/341 . Please take a look
Thanks!!

[2022-10-18 10:47] #159 closed

[2022-10-19 02:33] mauriciopoppe opened #343 "Move examples to have all of them in a single location"
**Is your feature request related to a problem?/Why is this needed**

https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/341/files added missing config to an example in `deployment/kubernetes/example`, however there are more examples in `examples/`. I think we should have a single place for examples.

[2022-10-19 02:37] mauriciopoppe commented on #329
/remove-lifecycle stale

I think we could add a reference from the helm docs to the operations docs for the glossary among other things.

[2022-10-19 03:07] Kartik494 commented on #343
Hi @mauriciopoppe if you are ok with it can we move all the `examples/` to `deployment/kubernetes/example` ? if this seems ok to you then please suggest your take on this.

[2022-10-19 03:08] Kartik494 commented on #343
@mauriciopoppe I would like to give a try on this if anyone not working on this. Please suggest

[2022-10-19 03:28] mauriciopoppe commented on #343
I saw other repos and external-provisioner has them in `examples/`, https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver in `examples/kubernetes` too, I think examples or deployment/.../examples would work fine

[2022-10-19 03:31] Kartik494 commented on #343
@mauriciopoppe thanks for the inputs , i would like to give a try.
/assign

[2022-10-19 17:29] mauriciopoppe commented on #343
From a comment in #344:

[2022-10-19 17:29] #343 closed

[2022-10-26 10:53] stevehipwell opened #345 "Release Helm chart for v2.5.0"
**What happened**:
There isn't a chart published for v2.5.0.

**What you expected to happen**:
The GH action is reporting as successful but there is no chart.

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- CSI Driver version:
- Kubernetes version (use `kubectl version`):
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2022-10-26 14:39] mauriciopoppe commented on #345
I think we didn't follow some of the steps in [RELEASE ](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/RELEASE.md) too

[code]

[2022-10-26 23:02] mauriciopoppe commented on #345
I think that it triggered because of the tag but because there were no changes in the Chart.yaml nothing happened.

Sounds good and thanks for the help, it might be possible that there are changes in the Chart that don't involve creating a release and I think that's a valid use case.

I think there are a couple of changes, first removing the tag selector from the github workflow and then bumping t

[2022-10-29 18:24] yibozhuang commented on #302
/reopen
/remove-lifecycle rotten

[2022-10-30 16:20] mauriciopoppe commented on #270
/remove-lifecycle rotten
/reopen

[2022-10-30 16:20] mauriciopoppe commented on #278
/remove-lifecycle rotten
/reopen

[2022-10-30 16:24] mauriciopoppe opened #346 "Transition Windows daemonset to become a HostProcess container"
**Is your feature request related to a problem?/Why is this needed**

In some PRs of https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/270 I added Windows support through CSI Proxy, new enhancements in the Windows component should happen through a HostProcess container

- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/pull/276 https://github.co

[2022-10-31 18:49] petercable opened #347 "Helm -- nodeSelector not applied to windows daemonset"
**What happened**:

Render the helm chart (2.5.1) with the following values.yaml:

[code]

The windows daemonset contains only:

[code]

but the linux daemonset contains:

[code]

**What you expected to happen**:

Both the linux and windows daemonsets should apply the supplied nodeSelectors.

**How to reproduce it**:

[code]

**Anything else we need to know?**:

**Environment**:
- CSI Driver versi

[2022-10-31 18:52] petercable commented on #347
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/3ea2ccc2cd30ccaaf2708a911f99fc75674b5de6/helm/provisioner/templates/daemonset_windows.yaml#L35-L36

[2022-10-31 18:54] mauriciopoppe commented on #347
I think adding

[code]

should work but at the same time you could have Linux vs Windows specific node selector key values, another option is to go with

[code]

[2022-10-31 19:12] stevehipwell commented on #345
@mauriciopoppe I've created #349 to fix these issues. If you're happy with the content and the `gh-pages` branch has been manually unprotected (if required) then merging it to `master` would result in the Helm chart being released.

[2022-11-03 05:19] Kartik494 commented on #329
I would like to give a try on this.
/assign

[2022-11-06 09:59] GrigorievNick commented on #201
From k8s 1.23 there a feature for gracefull shutdown of node and from 1.24 none-gracefull shutdown.
So may be, we can use it to delete pvc from nodes?

[2022-11-07 18:17] mauriciopoppe opened #350 "Remove generation code for helm v2"
There's code that attempts to generates manifests with Helm v2 which is deprecated, I think we should update the files in hack/upgrade-generated.sh and https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/hack/verify-generated.sh?#L40

[2022-11-07 18:17] mauriciopoppe commented on #350
/kind cleanup

[2022-11-07 18:26] #302 closed

[2022-11-14 19:37] mauriciopoppe commented on #277
/remove-lifecycle stale

[2022-11-14 19:40] #345 closed

[2022-11-14 19:40] #350 closed